html {

	font-size: 10px;

}





ul {

	list-style: none;

	padding: 0;

}





.AboutPage a, a:visited {

	color: #666;

	padding-right: 3px;

	padding-right: .3rem;

}



li {



}



.AboutPage img {

	width: 100%;

}



p {

	font-family:ProximaNovaRegular, Arial, Helvetica, sans-serif;

}





@font-face {

    font-family: "ProximaNovaLight";

    font-style: normal;

    font-weight: normal;

    src: url("fonts/proxima-nova-light/proxima-nova-light.eot?#iefix") format("embedded-opentype"), url("fonts/proxima-nova-light/proxima-nova-light.woff") format("woff"), url("fonts/proxima-nova-light/proxima-nova-light.ttf") format("truetype"), url("fonts/proxima-nova-light/proxima-nova-light.svg#ProximaNovaRegular") format("svg");

}

@font-face {

    font-family: "ProximaNovaRegular";

    font-style: normal;

    font-weight: normal;

    src: url("fonts/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Reg-webfont.woff") format("woff"), url("fonts/ProximaNova-Reg-webfont.ttf") format("truetype"), url("fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRegular") format("svg");

}

@font-face {

    font-family: "proxima_nova_semibold";

    font-style: normal;

    font-weight: normal;

    src: url("fonts/proxima-nova-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/proxima-nova-semibold.woff") format("woff"), url("fonts/proxima-nova-semibold.ttf") format("truetype"), url("fonts/proxima-nova-semibold.svg#ProximaNovaRegular") format("svg");

}

@font-face {

    font-family: "ProximaNovaExtraBold";

    font-style: normal;

    font-weight: normal;

    src: url("fonts/proxima-nova-extrabold.eot?#iefix") format("embedded-opentype"), url("fonts/proxima-nova-extrabold.woff") format("woff"), url("fonts/proxima-nova-extrabold.ttf") format("truetype"), url("fonts/proxima-nova-extrabold.svg#ProximaNovaRegular") format("svg");

}





/*----------------------------------------  HEADER  */

body {

	background:#fff;

}

.wrapper {

	margin:0 auto;

	width:100%;

	display:block;

}



.AboutPage h1 {

	padding:16px 0;

}



#header {

    background: none repeat scroll 0 0 #FFFFFF;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    height: 55px;

    margin: 0 auto;

    position: fixed;

    top: 0;

    width: 100%;

    z-index: 10;

}



#header:hover {

}



#header h1 {

	margin: 0;

	padding: 7px 20px 10px;

	padding: .7rem 2rem 1rem;

	font-size: 16px;

	font-size: 1.6rem;

	color: #888;

	font-weight: normal;

}



#nav {

	width:1000px;

	margin:0 auto;





}





#nav a {

    border-top: 3px solid transparent;

    color: #636363;

    display: block;

    float: left;

    font-family: ProximaNovaRegular,Arial,Helvetica;

    font-size: 16px;

    font-style: normal !important;

    font-weight: 200;

    line-height: 15px;

    padding: 17px 30px 20px;

    text-decoration: none;

    text-transform: uppercase;

}



.homeicon {

	padding: 13px 30px 20px !important;

	transition: all 1s ease 0s;

	-webkit-transition: all 1s ease 0s;

	-moz-transition: all 1s ease 0s;

	-o-transition: all 1s ease 0s;

}



.homeicon:hover {

	opacity:.7;

}





#nav .current, a.nav-button:hover {

 border-color: #BDCCA1;

    color: #9BB18D;



}



.contactContent h2 {

	color:#0E0060;

}



.pageTitle {

  color: #555555;

    font-family: ProximaNovaRegular,Arial,Helvetica,sans-serif;

    font-size: 14px;

    font-weight: bold;

    letter-spacing: 2.2px;

}

/*------------------------  SLIDES ------------------ */





.AboutPage .logo .sasLogoLink {

	color:#333;

}



.sas td {

	padding:5px 0;

}



.wrapperinner {

	width:1000px;

	margin:0 auto;

	display:block;

	height:auto;

	position:relative;

	color: #150F18;

	font-size: 12px;

	

}



#logo {

	position:fixed;

	top:55px;

	z-index:5000;

	width:180px;

	height:178px;



	

}



#logo img {

	margin-left: 15px;

    margin-top: 27px;

    width: 165px;

	

}





#sqhome {

    background: none repeat scroll 0 0 #000000;

    border-bottom: 1px solid #EC0568;

    border-top: 1px solid #EC0568;

    color: #FFFFFF;

    display: block;

    font-family: ,'Helvetica','Arial',sans-serif;

    font-size: 20px;

    left: 0;

    line-height: 25px;

    padding: 20px 10px;

    position: absolute;

    text-align: center;

    text-decoration: none;

    text-transform: uppercase;

    top: 178px;

    width: 102px;

	 margin-top: 55px;

	 display:none;

}



#sqhome:hover {

	background:#EC0568;

}









.homeContent {

	color: #0E0060;

    left: 0;

    margin: 0 0 0 15px;

    overflow: hidden;

    padding: 50px 0 10px 20px;

    position: absolute;

    text-align: left;

    width: 785px;

}



.homeContento {

    left: 0;

    margin: 20px 0 0 15px;

    overflow: hidden;

    padding: 28px 0 0;

    position: absolute;

    width:785px;

}







.philosophylead {

    color: #454242 !important;

    font-family: georgia !important;

    font-size: 28px !important;

    font-weight: normal !important;

	 font-family: "ProximaNovaRegular";

    line-height: 15px !important;

    margin: 0 0 1em;

    padding: 0;

    text-align: center;

    text-transform: uppercase;

}

.philosophylead img{

		width:140px !important;}

.tbl {

    margin-top: 24px;

    text-align: left;

}



.tbl p {

	text-align: justify;

}



.tbl h3 {

    background: url("../images/img/arrow-btn-white.png") no-repeat scroll right top transparent;

    border-bottom: 1px dotted #DDDDDD;

    color: #FFFFFF;

    letter-spacing: 4px;

    margin-bottom: 0;

    margin-top: 8px;

    overflow: hidden;

    padding-bottom: 8px;

    padding-left: 20px;

    text-align: left;

    text-transform: uppercase;

}



.homeContent .row {

    border-color: #8E8014;

    margin-top: 24px;

}



.homeContent .col1 {

    border-right: 1px dotted #8E8014;

}

.two-cols .col1 {

    padding-left: 0;

    width: 407px;

}



.slide p {

    color: #2B2B2B;

	font-size: 15px;

    letter-spacing: 0.05em;

    line-height: 1.8em;

    margin-bottom: 1em;

    padding: 0 20px 0 0;

	text-align:left;

}



#journey p { color:#454545 !important; text-align: justify}



.right-side-content p {text-align: justify}

.homeContent .entry-block header {

    border-color: #8E8014;

}



.entry-block header {

    border-bottom: 1px dotted #999999;

    margin-bottom: 18px;

    overflow: hidden;

    padding-bottom: 8px;

}



.entry-block header h3 {

    line-height: 1.286em;

}

h3 {

	font-family:ProximaNovaRegular,Arial,Helvetica;

    font-size: 16px;

}





.entry-block header a {

    display: block;

    text-decoration: none;

}



.entry-block header a .black {

    background: url("../upload/fileManager/sqold/sqnew2/img/sprites/arrow-btn-black.png") no-repeat scroll 0 0 transparent;

}

.entry-block header .rdmore {

    display: block;

    float: right;

    height: 20px;

    width: 20px;

}



h2 {

	font-size: 26px;

}



.homeContent h2 {

	font-size: 26px;

	color: #000000;

    line-height: 1.731;

    margin-right: 32px;



}



.slide {

	position: relative;

	margin: 0;

	width: 100%;

	height: 800px;

	text-align: center;

	padding-bottom:220px;

}



#intro, #journey {

	height:700px ;

}



#people {

	 padding: 5rem 0 20rem !important;

}

#organogram {

	 padding-top: 20px !important;

	 position:relative;

	 display:block;

}



.organogramImg {

	 position:relative;

	 display:block;

}



.organogramImg img {

	width:auto !important;

	   margin: 0 auto 0 40px;

}





.or-link1 {

    clear: both;

    cursor: pointer;

    height: 75px;

    left: -63px;

    margin-left: 78px;

    position: absolute;

    top: 97px;

    width: 148px;

    z-index: 10;

    background:url(../images/img/link_bg.png) repeat;

}

.or-link1:hover {

	background:url(../images/img/link3.png) center center no-repeat;

}



.or-link2 {

    clear: both;

    cursor: pointer;

    height: 78px;

    left: -65px;

    margin-left: 78px;

    position: absolute;

    top: 177px;

    width: 148px;

    z-index: 10;

	background:url(../images/img/link_bg.png) repeat;

}



.or-link2:hover {

	background:url(../images/img/link3.png) center center no-repeat;

}



.or-link3 {

    clear: both;

    cursor: pointer;

    height: 95px;

    left: -64px;

    margin-left: 78px;

    position: absolute;

    top: 248px;

    width: 148px;

    z-index: 10;

	background:url(../images/img/link_bg.png) repeat;

}



.or-link4 {

    clear: both;

    cursor: pointer;

    height: 35px;

    left: -98px;

    margin-left: 293px;

    position: absolute;

    top: 54px;

    width: 294px;

    z-index: 10;

	background:url(../images/img/link_bg.png) repeat;

}



.or-link4:hover {

	background:url(../images/img/link4.png) center center no-repeat;

}



.popcss {

    background: none repeat scroll 0 0 #FFFFFF;

    border: 8px solid #333333;

    display: block;

    height: auto !important;

    overflow: hidden;

    padding: 10px;

    position: absolute;

    top: 0;

    width: 720px !important;

    z-index: 100;

	display:none;

}

.or-link3:hover {

	background:url(../images/img/link3.png) center center no-repeat;

}





.lead {

	font-size:22px;

	 line-height: 46px;

	margin:0;

	padding:0;

	 margin-bottom: 1em;

	 text-align:left;

	 font-weight:600;

}





.lead a {

    color: #FFFFFF;

    font-size: 20px;

    font-style: normal;

    font-weight: lighter;

}



.left-side-title {



    color: #444444;

    font-weight: bold;

}





.aboutContent {

    color: #0E0060;

    left: 0;

  

    overflow: hidden;

    padding: 20px;

    position: absolute;

    text-align: left;

    width: 785px;

	margin-left:15px;

}



.aboutIntro {

	width:60%;

	margin: 30px auto 0;

}



.aboutIntroText {

	margin-top:0;

}



.aboutIntro p {

	text-align: justify;

}



.AboutMargin {

	  margin:50px 0 0 15px;

}



.titleAboutMlarge {

    color: #DDDDDD;

    font-family: "proxima_nova_semibold";

    font-size: 24px;

    font-weight: bold;

    letter-spacing: 2px;

    padding-top: 166px;

    text-align: center;

    text-transform: uppercase;

}

.titleAboutMlargeLowerCase {

    color: #DDDDDD;

    font-family: "proxima_nova_semibold";

    font-size: 18px;

    font-weight: lighter;

    letter-spacing: 2px;

    padding-top: 166px;

    text-align: center;

    text-transform: none;

}

.peopleContent {

  /*background-color: rgba(236, 5, 104, 0.88);*/

	background-color: rgba(255, 255, 255, 0.95);

    margin: 0;

    padding: 28px 0;

	width:878px;

	left: 0;

    margin-left: 15px;

    margin-top: 0;

    overflow: hidden;

    position: absolute;

	text-align:left;

	padding-top:40px ;

}



.ppltext {

	padding:20px;

}



.businessContent {

	padding-top:28px;

}



.keymanagement {

}



.org {

	margin-top:0 !important;

}



.orgTxt h1 {

	margin-top:0!important;

	padding-top:0 !important;

}





.team {

    border: 2px solid #E7E6E1;

    height: 316px;

    margin-right: 10px;

    padding: 2px;

        transition: all 1s ease 0s;

	-webkit-transition: all 1s ease 0s;

	-moz-transition: all 1s ease 0s;

	-o-transition: all 1s ease 0s;

    width: 31%;

}

.team img {

	height: auto;

}

#mycarousel ,#mycarousel2{

	width:100%;

}



.sliderContainer {

	width:100%;

}

.nomarginright {

	margin-right:0 !important;

}



.slidePng {

	width:80px;

	height:33px;

	float:right;



}



.slide {



}



.next2 {

	height:30px;

	width:30px;

	background:url(../images/img/nav.png) bottom right;

	display:block;

	float:right;

}



.next2:hover {

	background:url(../images/img/nav.png) top right;

}



.prev2 {

	height:30px;

	width:30px;

	background:url(../images/img/nav.png) bottom left; 

	display:block;

	float:right; }



.prev2:hover {

	background:url(../images/img/nav.png) top left; 

}



.team img {

	width:100%x;

	display:block;

}



.aboutContent h1 ,.homeContent h1{

	color:#454242;

	text-transform: capitalize;

	letter-spacing:2px;

	font-family: ProximaNovaRegular,Arial,Helvetica;

	font-size:24px !important;

}



.businessText {

	padding: 0 0;

}



.topBrDr {

	border-top: 1px solid #DDDDDD;

	margin-top:10px;

	padding-top:10px;

}



.businessText h1 {

	text-transform: capitalize;

	padding-left:0;

	margin-left:0 !important;

} 

.aboutContent p {

   /* line-height: 1.667;*/

    margin-bottom: 1em;

	  font-size: 15px;

    letter-spacing: 0.05em;

    line-height: 1.8em;

	padding-left: 0 !important;

}



.contentTxtNormal p {

	line-height: 1.667;

    margin-bottom: 1em;

	color:#454545 !important;

}



.aboutContent table, .aboutContent table td {

	vertical-align:top;

	position:relative;

}



.aboutContent h4 {

	margin-top:0;

	padding-top:0;

}







.businessContent h4 {

    border-top: 1px solid #666666 !important;

    margin-top: 5px !important;

    padding-top: 5px !important;

	font-family:Arial, Helvetica, sans-serif

	color:#444;

}



.SustainabilityPage .businessText {

	padding:0 !important;

}



.businessTble {

	background:#000;

	border-collapse:collapse;

}



.businessTble img {

	opacity:.7;

	transition: all 0.5s ease-out 0s;

}



.businessTble td {

		transition: all 0.5s ease-out 0s;

		height:180px;

}



td .t1 {

	background:url(../upload/fileManager/sqold/sqnew2/img/1.jpg);

	-webkit-transition: all 0.5s ease-out 0s;

        -moz-transition: all 0.5s ease-out 0s;

        -ms-transition: all 0.5s ease-out 0s;

        -o-transition: all 0.5s ease-out 0s;

        transition: all 0.5s ease-out 0s;

	height:100%;

	width:100%;

	display:block;

	opacity:.7;



}



td .t1:hover {

	background:url(../upload/fileManager/sqold/sqnew2/img/1h.jpg);

	opacity:1;

}



td .t2 {

	background:url(../upload/fileManager/sqold/sqnew2/img/2.jpg);

	-webkit-transition: all 0.5s ease-out 0s;

        -moz-transition: all 0.5s ease-out 0s;

        -ms-transition: all 0.5s ease-out 0s;

        -o-transition: all 0.5s ease-out 0s;

        transition: all 0.5s ease-out 0s;

	height:100%;

	width:100%;

	display:block;

	opacity:.7;



}



td .t2:hover {

	background:url(../upload/fileManager/sqold/sqnew2/img/2h.jpg);

	opacity:1;

}





td .t3 {

	background:url(../upload/fileManager/sqold/sqnew2/img/3.jpg);

	-webkit-transition: all 0.5s ease-out 0s;

        -moz-transition: all 0.5s ease-out 0s;

        -ms-transition: all 0.5s ease-out 0s;

        -o-transition: all 0.5s ease-out 0s;

        transition: all 0.5s ease-out 0s;

	height:100%;

	width:100%;

	display:block;

	opacity:.7;



}



td .t3:hover {

	background:url(../upload/fileManager/sqold/sqnew2/img/3h.jpg);

	opacity:1;

}





td .t4 {

	background:url(../upload/fileManager/sqold/sqnew2/img/4.jpg);

	-webkit-transition: all 0.5s ease-out 0s;

        -moz-transition: all 0.5s ease-out 0s;

        -ms-transition: all 0.5s ease-out 0s;

        -o-transition: all 0.5s ease-out 0s;

        transition: all 0.5s ease-out 0s;

	height:100%;

	width:100%;

	display:block;

	opacity:.7;

	position:relative;



}



td .t4:hover {

	background:url(../upload/fileManager/sqold/sqnew2/img/4h.jpg);

	opacity:1;

}







td .t5 {

	background:url(../upload/fileManager/sqold/sqnew2/img/5.jpg);

	-webkit-transition: all 0.5s ease-out 0s;

        -moz-transition: all 0.5s ease-out 0s;

        -ms-transition: all 0.5s ease-out 0s;

        -o-transition: all 0.5s ease-out 0s;

        transition: all 0.5s ease-out 0s;

	height:100%;

	width:100%;

	display:block;

	opacity:.7;

	position:relative;



}



td .t5:hover {

	background:url(../upload/fileManager/sqold/sqnew2/img/5h.jpg);

	opacity:1;

}







td .t6 {

	background:url(../upload/fileManager/sqold/sqnew2/img/6.jpg);

	-webkit-transition: all 0.3s ease 0s;

        -moz-transition: all 0.3s ease 0s;

        -ms-transition: all 0.3s ease 0s;

        -o-transition: all 0.3s ease 0s;

        transition: all 0.3s ease 0s;

	height:100%;

	width:100%;

	display:block;

	opacity:.7;

	position:relative;



}



td .t6:hover {

	background:url(../upload/fileManager/sqold/sqnew2/img/6h.jpg);

	opacity:1;

}





.team {

	float:left;

	position:relative;

	overflow:hidden;

}



.teamContent {

	border-bottom: solid #f2f2f2;

}



.teamInfo {

	position: absolute;

	background: rgba(72,89,107,0.8);

	width:100%;

	left:0%;

	z-index:20;

	height:25%;

	bottom:0 !important;

	-webkit-transition: all 0.3s ease 0s;

    -moz-transition: all 0.3s ease 0s;

    -ms-transition: all 0.3s ease 0s;

     -o-transition: all 0.3s ease 0s;

    transition: all 0.3s ease 0s;

}





.temTop h3 {

    letter-spacing: 3px;

    line-height: 32px;

    margin: 0;

    padding: 0;

    text-transform: uppercase;

	color:#5D5D5D;

}





.teamMemberName {

    color: #FFFFFF;

    display: block;

    font-size: 13px;

    font-weight: bold;

    letter-spacing: 0;

    margin-left: 2%;

    margin-top: 5px;

    text-align: center;

    text-transform: uppercase;

    width: 96%;

}



.temPostion {

	  font-family: ProximaNovaRegular,Arial,Helvetica,sans-serif;

    color: #FFFFFF;

    display: block;

    float: left;

    margin-left: 2%;

    margin-top: 2px;

    text-align: center;

    width: 96%

}





.team:hover .teamInfo {

	/*bottom: 30px !important;*/

}

.team img {

   display: block;

    position: absolute;

    z-index: 10;

}



.teamDetailsLink {

    border: 0 none;

    color: #FFFFFF !important;

    cursor: pointer;

    display: inline-block;

    font-size: 11px;

    font-style: normal;

    letter-spacing: 2px;

    margin-top: 3px;

    opacity: 1;

    padding: 3px 0;

    position: relative;

    text-align: center;

    text-decoration: none;

    text-transform: uppercase;

    transition: all 0.3s ease-out 0s;

    width: 100%;

    z-index: 500;

	-webkit-transition: all 0.3s ease-out 0s;

    -moz-transition: all 0.3s ease-out 0s;

    -ms-transition: all 0.3s ease-out 0s;

     -o-transition: all 0.3s ease-out 0s;

    transition: all 0.3s ease-out 0s;

}

.teamDetailsLink:hover {

	background:#9BB18D;

	color:#fff;

/*	opacity:1;

	-webkit-transition: scale(1);

    -moz-transition:scale(1);

    -ms-transition: scale(1);

     -o-transition: scale(1);

	transform:scale(1);*/

}





.businessTble img:hover {

	opacity:.98;

}

.businessTble h3 {

    color: #FFFFFF;

    font-size: 20px;

    margin-left: 20px;

    position: absolute;

    top: 50px;

	text-shadow: 1px 1px 1px rgba(0,0,0,0.88);

	font-family:  Helvetica, Arial, sans-serif;

	opacity:1;

	z-index:1000;

	

}

.businessTble h3 span {

	font-size:14px;

	display:block;

	clear:both;

	font-weight:normal;

	width:90%;

	

}



.submenu {

    background: #A18E5C;

    height: 40px;

    left: 0;

    overflow: hidden;

    position: absolute;

    top: 0;

    width: 100%;

}



.submenu ul {

    list-style: none outside none;

    margin: 0;

    padding: 0;

}



.submenu li {

    display: block;

    float: left;

}



.submenu a {

    border-top: 3px solid #A18E5C;

    display: block;

    line-height: 20px;

    padding: 7px 20px 10px;

    text-decoration: none;

    text-transform: uppercase;

	font-style:normal;

	color:#fff;

}



#philosophy .aboutContent {

}



.submenu a:hover, .submenu a.active {

    border-top: 3px solid #292929;

}



.contactContent {

    left: 0;

    margin: 0 0 0 122px;

    overflow: hidden;

    padding: 0 20px 28px;

    position: absolute;

    text-align: left;

    width: 838px;

}







.contactContent h4 {

    font-family: Helvetica,Arial,sans-serif;

    font-size: 16px;

    width: 80%;

}





.contactCol1 {

    background: none repeat scroll 0 0 #E7E6E1;

    border-right: 1px dotted #CCCCCC;

    display: block;

    float: left;

    height: 200px;

    margin: 15px;

    padding: 15px;

    width: 156px;

}



.contactCol1 p, .imageContent p {

	padding:0;

}

.or-block {

	display: block;

	

}





#philosophy {

}



#board {

}



#management {

}



#organogram {



}



#what2 {

	padding: 150px 0 200px;

	padding: 15rem 0 20rem;

}



#what2 strong {

	display: block;

	font-size: 60px;

	font-size: 6rem;

	font-style: italic;

	position: relative;

	top: 6px;

	top: .6rem;

	letter-spacing: 3px;

	letter-spacing: .3rem;

}



#what3 {

	padding: 120px 0 200px;

	padding: 12rem 0 20rem;

}



#what4 h2 {

	font-size: 36px;

	font-size: 3.6rem;

}



#what4 strong {

	display: block;

	font-size: 60px;

	font-size: 6rem;

	padding-top: 12px;

	padding-top: 1.2rem;

}



#what4 small {

	display: block;

	font-size: 24px;

	font-size: 2.4rem;

	font-weight: 400;

	font-style: italic;

	padding-bottom: 24px;

	padding-bottom: 2.4rem;

}



#what5 {

	padding: 180px 0 200px;

	padding: 18rem 0 20rem;

}



#what5 h2 {

	font-size: 60px;

	font-size: 6rem;

	margin: 0;

}



#what5 p {

	margin: 0;

}



#philosophy {

	 padding: 0 0 20rem;

	

}



#philosophy small {

	display: block;

	width: 80%;

	text-align: right;

	padding-top: 10px;

	padding-top: 1rem;

	font-style: italic;

	color: #666;

}



#why2 h2 {

	margin: 10px;

	margin: 1rem;

	font-size: 36px;

	font-size: 3.6rem;

	font-style: italic;

}



#why2 p {

	margin: 0;

	padding: 0;

}



#board {

	padding: 0 0 20rem

	

}



#board h1 {



}



.BoardMemberBox {

	position:relative;

	display:block;

	}

	

.boardMember1 {

	height:170px;

	width:120px;

	position:absolute;

	top:200px;

	left:456px;

	z-index:10;

	background:url(../images/img/link_bg.png) repeat;

	

}



.boardMember2 {

    height: 160px;

    left: 148px;

    position: absolute;

    top: 230px;

    width: 120px;

    z-index: 10;

	background:url(../images/img/link_bg.png) repeat;

}





.boardMember3 {

    height: 140px;

    left: 434px;

    position: absolute;

    width: 100px;

    z-index: 10;

	background:url(../images/img/link_bg.png) repeat;

}



.boardMember4 {

    height: 160px;

    left: 226px;

    position: absolute;

    top: 50px;

    width: 112px;

    z-index: 10;

	background:url(../images/img/link_bg.png) repeat;

}

	

.boardMember5 {

    height: 160px;

    left: 343px;

    position: absolute;

    top: 136px;

    width: 105px;

    z-index: 10;

	background:url(../images/img/link_bg.png) repeat;

	}

	

.boardMember1Link, .boardMember2Link, .boardMember3Link, .boardMember4Link,.boardMember5Link {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);

    color: #FFFFFF;

    display: inline-block;

    padding: 5px;

	visibility:hidden;

}



.boardMember1Details, .boardMember2Details, .boardMember3Details, .boardMember4Details,.boardMember5Details, .popAllGloabal {

 	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.96);

    border: 8px solid gba(255, 255, 255, 0.95);

	border-radius:6px;

    display: none;

    height: 250px;

	box-shadow: 0 4px 21px rgba(0, 0, 0, 0.9);

    left: 107px;

    overflow: hidden;

    padding: 20px;

    position: absolute;

    top: 50px;

    width: 500px;

    z-index: 10000;

}



.scroll-pane {

    display: inline-block;

    max-height: 200px;

    width: 100%;

	padding-top:5px;

	overflow:auto;

}



.scroll-pane p {

	margin: 0 0 20px !important;

}





.boardMember1Details h3, .boardMember2Details h3, .boardMember3Details h3, .boardMember4Details h3,.boardMember5Details h3  {

    display: block;

     color: #454242 !important;

    font-family: ProximaNovaRegular,Arial,Helvetica;

    letter-spacing: 2px;

    margin: 0 !important;

    padding-bottom: 5px;

    text-transform: uppercase;

	font-size:20px;

}



.boardMember1Details span, .boardMember2Details span, .boardMember3Details span, .boardMember4Details span,.boardMember5Details span  {



    color: #777777;

    display: block;

    font-family: Georgia,"Times New Roman",Times,serif;

    font-size: 16px;

    font-style: italic;

    font-weight: 300;

	}



.boardMember1Details p, .boardMember2Details p, .boardMember3Details p, .boardMember4Details p,.boardMember5Details p  {

   color: #222;

    font-size: 12.5px;

    letter-spacing: 0.5px;

    line-height: 20px;

    text-align: justify;

	}

.boardMember1Link {

    margin: 100px 0 0 20px;

}





.boardMember2Link {

    margin: 80px auto 0 auto;

}



.boardMember3Link {

    margin: 80px auto 0 auto;

}



.boardMember4Link {

     margin: 70px 0 0 10px;

}



.boardMember5Link {

    margin: 70px 0 0 4px;

}



.boardMember1:hover .boardMember1Link, .boardMember2:hover .boardMember2Link, .boardMember3:hover .boardMember3Link, .boardMember4:hover .boardMember4Link, .boardMember5:hover .boardMember5Link {

	visibility:visible;

	cursor:pointer;

}



		

.who {

}







.who p, .who h2 {



}



.who h2 {

	font-size: 30px;

	font-size: 3rem;

}



.who p, .who a {



}



#who7 {

	padding: 270px 0 270px;

	padding: 27rem 0 27rem;

}



#management {

	padding: 0 0 200px !important;

}



#management h1, #management h2 {



}



#management h2 {

	font-size: 36px;

	font-size: 3.6rem; 

}



#management ul  {

	margin: 0;

}



#how1 small {

	display: block;

	color: #666;

	font-style: italic;

	width: 82%;

	text-align: right;

	padding-top: 10px;

	padding-top: 1rem;

}



#how2 h2 {

	font-size: 36px;

	font-size: 3.6rem;

	line-height: 1;

}



#how2 strong {

	display: block;

	font-size: 60px;

	font-size: 6rem;

	padding-top: 2.4rem;

}



#how2 small {

	display: block;

	font-size: 24px;

	font-size: 2.4rem;

	font-weight: 400;

	font-style: italic;

	padding-bottom: 24px;

	padding-bottom: 2.4rem;

}



#how3 {

	padding-top: 5rem;

}



.where h2 {

	font-size: 30px;

	font-size: 3rem;

	margin: 0;

}



.where h3, .where p, .where a {

	margin: 0;

	font-size: 20px;

	font-size: 2rem;

}



.where-block {

	vertical-align: top;

	display: inline-block;

	width: 40%;

	padding: 20px 0;

	padding: 2rem 0;

}



#where1 {

	padding: 150px 0 200px;

	padding: 15rem 0 20rem;

}



#where2 {

	padding: 60px 0 200px;

	padding: 6rem 0 20rem;

}



#where3 {

	padding: 60px 0 200px;

	padding: 6rem 0 20rem;

}



#where3 a {

	font-size: 36px;

	font-size: 3.6rem;

}



#where3 .where-block {

	vertical-align: top;

	display: inline-block;

	width: 40%;

	padding: 24px 0 6px;

	padding: 2.4rem 0 .6rem;

	line-height: 1.2;

}



#where3 .where-block a {

	font-size: 16px;

	font-size: 1.6rem;

}



#where4 a {

	display: block;

	font-size: 24px;

	font-size: 2.4rem;

	padding: 3px;

	padding: .3rem;

}



#credits h3, #credits h4 {

	margin: 2.4rem 0 .6rem;

}



#credits h4 {

	font-size: 18px;

	font-size: 1.8rem;

}



#credits p {

	margin: 0;

	font-size: 18px;

	font-size: 1.8rem;

}



/*------------------------  IMAGES  */



/* width % is width of img / 1280 px (target screen width)  */



.img-wrap {

	margin: 0 auto;

}



.img-inline {

	display: inline-block;

	

}



.img-link {

	text-decoration: none;

}



.img-border {

	border: solid 1px #aaa;

}



#img-responsive {

	width: 50.47%;

}



#img-devices {

	width: 67.03%;

}



#img-bg-s {

	width: 13.83%;

}



#img-bg-m {

	width: 28.59%;

}



#img-bg-l {

	width: 45.31%;

}



#img-illy-s {

	width: 15%;

}



#img-illy-l {

	width: 46.09%;

}



#img-clean-s {

	width: 15%;

}



#img-clean-m {

	width: 31.01%;

}



#img-clean-l {

	width: 40.08%;

}



#img-sas-s {

	width: 16.95%;

}



#img-sas-l {

	width: 48.44%;

}



#img-obama-s {

	width: 12.66%;

}



#img-obama-m {

	width: 30.39%;

}



#img-obama-l {

	width: 36.8%;

}



/* width % is width of img / (40% of 1280 px) (containers are 40% of target screen width)  */



.where-block .img-wrap {

	width: 22.66%;

}



#where3 .where-block .img-wrap {

	width: 86.33%;

}



.tembox {

	padding:10px;

}



.tembox h3 {

 color: #454242 ;

    display: block;

    font-family: ProximaNovaRegular,Arial,Helvetica;

    font-size: 20px;

    letter-spacing: 2px;

    margin: 0 !important;

    padding-bottom: 5px;

    text-transform: uppercase;

}

.tembox h3 span {

	letter-spacing:0px;

	font-size:12px;

	font-weight:300;

}





/*--------------------Individual board members -----------------------*/

.boardMemberInindividual p{

	font-family: ProximaNovaRegular,Arial,Helvetica;

	color: #2B2B2B;

	font-size: 16px;

	line-height: 1.667;

	padding: 0 20px 0 0;

	display:block;

	text-align: left;}

p.boardMember1Link,p.boardMember2Link,p.boardMember3Link,p.boardMember4Link,p.boardMember5Link{

	position:relative !important;

	display:inline-block !important;

	visibility:visible !important;

	padding:3px 8px !important;

	margin:0 5px 5px 0 !important;

	background:#d3d3d3 !important;

	font-family: ProximaNovaRegular,Arial,Helvetica;

	font-size: 13px;

	cursor:pointer;

	-moz-border-radius:2px;

	-webkit-border-radius:2px;

	-o-border-radius:2px;

	border-radius:2px;

	

	}



/*------------------------  BASE-REM SIZING  */





@media (min-width: 1401px) {

	html {

		font-size: 12px;

	}

}



@media (max-width: 1400px) {

	html {

		font-size: 11px;

	}

}



/* target screen width  */

@media (max-width: 1280px) {

	html {

		font-size: 10px;

	}

}

	

@media (max-width: 1160px) {

	html {

		font-size: 9px;

	}

}

	

@media (max-width: 1040px) {

	html {

		font-size: 8px;

	}

}

	

@media (max-width: 920px) {

	html {

		font-size: 7px;

	}

}

	

@media (max-width: 800px) {

	html {

		font-size: 6px;

	}

}

	

@media (max-width: 680px) {

	html {

		font-size: 5px;

	}

	

	

}

	

@media (max-width: 560px) {

	html {

		font-size: 4px;

	}

}

	

@media (max-width: 440px) {

	html {

		font-size: 3px;

	}

}



@media (max-width: 320px) {

	html {

		font-size: 3px;

	}

}





/*----------------------------------------N E W ------------------------------------------*/

.overlay {

    background: none ;

    height: 1500px;

    left: 0 !important;

    position: fixed;

    top: 0;

    width: 1500px;

    z-index: 99;

}







.tembox {

   background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);

    border-radius: 6px 6px 6px 6px;

    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.9);

    display: none;

    height: 250px;

    left: 107px;

    overflow: hidden;

    padding: 20px;

    position: absolute;

    top: 230px;

    width: 500px;

    z-index: 10000;

	}

.teamclose {

    background:url(../images/img/close2.png) no-repeat;

    height: 18px;

    position: absolute;

    right: 6px;

    text-indent: -99999px;

    top: 6px;

    width: 18px;

	cursor:pointer;

}

.tembox img{

		float:left;

		margin:0 15px 0 0;

		height:265px;

		padding:5px;

		width: auto;

		background:#fff;

		-moz-box-shadow:0 0 2px rgba(0,0,0,0.3);

		-webkit-box-shadow:0 0 2px rgba(0,0,0,0.3);

		-o-box-shadow:0 0 2px rgba(0,0,0,0.3);

		box-shadow:0 0 2px rgba(0,0,0,0.3);}



.tembox span {

    color: #777777;

    display: block;

    font-family: ProximaNovaRegular,Arial,Helvetica,sans-serif;

    font-size: 14px;

    font-style: inherit;

    font-weight: 300;

}

.tembox p{

		color:#333;

		font-size:12.5px;

		text-align:justify;

		letter-spacing:0.5px;

		line-height:20px;

		padding-right:20px;}







/* brand */





.brandSlide {

    clear: both;

    display: block;

    height: 370px;

    margin-bottom: 20px;

    margin-left: 0 !important;

    margin-right: 0;

    margin-top: 0;

    overflow: hidden;

    width: 100%;

}

.brandTitle{

    color: #454242;

    font-family: ProximaNovaRegular,Arial,Helvetica;

    font-size: 24px !important;

    letter-spacing: 2px;

	margin-bottom:10px !important;

    text-transform: uppercase;

}



.brandSideContent {

    display: block;

    height: 350px;

    margin: 0 auto;

    overflow: hidden;

    width: 100%;

}



.prokSideContent img {

	height: auto !important;

}



/*/ pc scroll fix  */

@media all and (max-width:1335px) {

	.wrapperinner {

		width:100% ;

    }

	

}



@media all and (max-width:1174px) {

	.aboutContent {

     width: 768px;

}	

}



@media all and (max-width:1168) {

	.aboutContent {

     width: 768px;

}	

}



@media all and (max-width:1160) {

	.aboutContent {

     width: 768px;

}	

}



@media all and (max-width:1159) {

	.aboutContent {

     width: 768px;

}	

}



@media all and (max-width:1116px) and (max-width:1100px) {

	.aboutContent, .homeContent {

     width: 768px;

}	

}







/*/ ipad land */



@media all and (max-width:1024px) {

.brandSideContent {
	width:100% !important;
}



.boardMember1 {

    height: 157px !important;

    left: 359px !important;

    position: absolute !important;

    top: 161px !important;

    width: 135px !important;

    z-index: 10;

}

.boardMember1Link {

    margin: 54px 0 0 15px;

}









.boardMember2 {

    height: 136px !important;

    left: 129px !important;

    position: absolute;

    top: 176px !important;

    width: 109px !important;

    z-index: 10;

}





.boardMember3 {

    height: 157px !important;

    left: 329px !important;

    position: absolute;

    width: 107px !important;

    z-index: 10;

}



.boardMember3Link {

    margin: 91px auto 0!important;

}







.boardMember4 {

    height: 154px !important;

    left: 160px !important;

    position: absolute !important;

    top: 50px !important;

    width: 122px !important;

    z-index: 10;

}

.boardMember4Link {

    margin: 71px 0 0 20px !important;

}



.boardMember5 {

    height: 203px !important;

    left: 258px !important;

    position: absolute;

    top: 114px !important;

    width: 92px !important;

    z-index: 10;

}

.boardMember5Link {

    margin: 115px 0 0 10px;

}



.boardMember1Details, .boardMember2Details, .boardMember3Details, .boardMember4Details, .boardMember5Details, .popAllGloabal {

    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.96);

    border-radius: 6px 6px 6px 6px;

    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.9);

    display: none;

    height: 250px!important;

    left: 50px !important;

    overflow: hidden;

    padding: 20px;

    position: absolute;

    top: 10px!important;

    width: 519px!important;

    z-index: 10000;

}





.wrapperinner {

	width:100% !important;

}



.homeContent {

	width:90% !important;

}



#mycarousel {

	width:  100% !important ;

}



.sliderContainer {

	width:100%;

}





.team {

    border: 2px solid #E7E6E1;

    height: 224px !important;

    margin-right: 10px!important

    padding: 2px;

    transition: all 1s ease 0s;

    width: 28% !important

}





.team img {

	height:auto !important;

}





.teamInfo {

    height: 32%!important;

}



.tembox {

	left: 50px;

}



.organogramImg img {

    width: 100% !important;

}



.popcss {

	width:580px !important

}







.or-link1 {

    clear: both;

    cursor: pointer;

    height: 64px;

    left: -76px;

    margin-left: 78px;

    position: absolute;

    top: 84px;

    width: 148px;

    z-index: 10;

}



.or-link2 {

    clear: both;

    cursor: pointer;

    height: 58px;

    left: -73px;

    margin-left: 78px;

    position: absolute;

    top: 161px;

    width: 148px;

    z-index: 10;

}





.or-link3 {

    clear: both;

    cursor: pointer;

    height: 95px;

    left: -75px;

    margin-left: 78px;

    position: absolute;

    top: 217px;

    width: 148px;

    z-index: 10;

}





.or-link4 {

    clear: both;

    cursor: pointer;

    height: 35px;

    left: -124px;

    margin-left: 293px;

    position: absolute;

    top: 46px;

    width: 294px;

    z-index: 10;

}



.sliderContainer {

    width: 100% !important;

}





.tembox {

	padding:10px !important;

}



.organogramImg img {

    width: 100% !important;

}



.boardMemberInindividual{

		display:block !important;}



}

/* ipad // */

@media all and (max-width:768px) {

	

.organogramImg img {

    width: 100% !important;

}

.brandSideContent {

	height:200px !important;

}




.brandSlide {

	height:auto;

}

.or-link1 {

    clear: both;

    cursor: pointer;

    height: 50px;

    left: -73px;

    margin-left: 78px;

    position: absolute;

    top: 62px;

    width: 106px;

    z-index: 10;

}



.or-link2 {

    clear: both;

    cursor: pointer;

    height: 41px;

    left: -73px;

    margin-left: 78px;

    position: absolute;

    top: 122px;

    width: 106px;

    z-index: 10;

}



.or-link3 {

    clear: both;

    cursor: pointer;

    height: 47px;

    left: -73px;

    margin-left: 78px;

    position: absolute;

    top: 173px;

    width: 106px;

    z-index: 10;

}



.or-link4 {

    clear: both;

    cursor: pointer;

    height: 35px;

    left: -198px;

    margin-left: 293px;

    position: absolute;

    top: 29px;

    width: 294px;

    z-index: 10;

}



.popcss {

	width:420px !important;

}





.boardMember1Details, .boardMember2Details, .boardMember3Details, .boardMember4Details, .boardMember5Details, .popAllGloabal {

    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.96);

    border-radius: 6px 6px 6px 6px;

    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.9);

    display: none;

    height: 210px!important;

    left: 35px !important;

    overflow: hidden;

    padding: 20px;

    position: absolute;

    top: 2px!important;

    width: 441px!important;

    z-index: 10000;

}



.scroll-pane {

    display: inline-block;

    max-height: 160px !important;

}



.boardMember1 {

    height: 103px!important;

    left: 267px!important;

    position: absolute!important;

    top: 132px!important;

    width: 93px!important;

    z-index: 10!important;

}



.boardMember1Link {

    margin: 37px 0 0!important;

}



.boardMember2 {

    height: 92px!important;

    left: 79px!important;

    position: absolute!important;

    top: 145px!important;

    width: 100px!important;

    z-index: 10;

}



.boardMember2Link {

    margin: 38px auto 0!important;

}

.boardMember3 {

    height: 75px!important;

    left: 246px!important;

    position: absolute;

    width: 96px!important;

    z-index: 10;

}

.boardMember3Link {

    margin: 50px auto 0!important;

}





.boardMember4 {

    height: 98px!important;

    left: 107px!important;

    position: absolute;

    top: 28px!important;

    width: 105px!important;

    z-index: 10;

}



.boardMember4Link {

    margin: 55px 0 0!important;

}





.boardMember5 {

    height: 131px!important;

    left: 191px!important;

    position: absolute!important;

    top: 94px!important;

    width: 79px!important;

    z-index: 10;

}



.boardMember5Link {

    margin: 40px 0 0!important;

}



.boardMember1Details, .boardMember2Details, .boardMember3Details, .boardMember4Details, .boardMember5Details, .popAllGloabal {

    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.96);

    border-radius: 6px 6px 6px 6px;

    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.9);

    display: none;

    height: 200px !important;

    left: 5% !important;

    overflow: hidden;

    padding: 20px !important;

    position: absolute;

    top: 0;

    width: 80% !important;

    z-index: 10000;

}







	

}



@media all and (max-width:480px) {

	

.team {

    border: 2px solid #E7E6E1;

    height: 208px !important;

    transition: all 1s ease 0s;

    width: 46% !important;

}



.boardMember1Link, .boardMember2Link, .boardMember3Link, .boardMember4Link,.boardMember5Link {

	display:none !important;



}

}


.brandSideContent img {
	width:100% !important;
	height: auto !important;
	
}
