/* =============================================================================

   HTML5 display definitions

   ========================================================================== */



article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }





/* =============================================================================

   Base

   ========================================================================== */



/*

 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units

 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g

 */



html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }



html, button, input, select, textarea { font-family: sans-serif; color: #222; }









/* =============================================================================

   Chrome Frame Prompt

   ========================================================================== */



.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



#content {

	width: 980px;

	/*width: 95%;*/

	width: auto;

	margin: 0 auto;

}



.item {

	display: block;

	float: left;

	width: 300px;

	margin: 0 10px 10px 10px;

	background:#fff;

	-webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;

	-moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;

	-ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;

	-o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;

	transition: left .4s ease-in-out, top .4s ease-in-out .4s;

}



.featured {

	width: 620px;

}



.item img {

	width: 300px;
	max-width:100%;

	height: auto;

}



.featured img {

  height: auto;

  float:left;

   margin-right: 20px;

}











header {

	text-align: center;

	margin-top: 0.8em;

}



header:after {

  content: "";

  display: block;

  width: 30px;

  height: 1px;

  margin: 0.8em auto;

  background-color: #111;

}

















@media only screen and (max-width: 768px) {

  /* Style adjustments for viewports that meet the condition */

  .item {

  display: block;

  float: left;

  width: 300px;

  margin: 5px 5px 5px 5px;

  -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;

  -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;

  -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;

  -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;

  transition: left .4s ease-in-out, top .4s ease-in-out .4s;

}

}







/* ==|== non-semantic helper classes ========================================

   Please define your styles before this section.

   ========================================================================== */



/* For image replacement */

.ir { border:0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }



/* Hide from both screenreaders and browsers: h5bp.com/u */

.hidden { display: none !important; visibility: hidden; }



/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }



/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }



/* Hide visually and from screenreaders, but maintain layout */

.invisible { visibility: hidden; }



/* Contain floats: h5bp.com/q */

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }







/* ==|== print styles =======================================================

   Print styles.

   Inlined to avoid required HTTP connection: h5bp.com/r

   ========================================================================== */



@media print {

  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */

  a, a:visited { text-decoration: underline; }

  a[href]:after { content: " (" attr(href) ")"; }

  abbr[title]:after { content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */

  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

  thead { display: table-header-group; } /* h5bp.com/t */

  tr, img { page-break-inside: avoid; }

  img { max-width: 100% !important; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3 { page-break-after: avoid; }

}







.sizeXmal {

}



		

		

		

		



.newsBoxColor a{

		color:#333 !important;}

.item {

		 box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

}



.item bold, .item strong, .item p bold, .item p strong {

	font-weight:bold !important;

} 

.item p, .item p a {

 color: #666666;

    font-family: "ProximaNovaRegular";

    font-size: 15px;

    letter-spacing: 0.25px;

    padding: 0 10px 10px;

}



.item p  a {

padding-bottom: 0;

}



.item {

padding-bottom:  10px;

margin-bottom: 10px;

}



.item span a {

		padding:15px 20px;

		color:#949494;

		font-size:13px;

		letter-spacing:0.25px;

		font-family: "proxima_nova_semibold";

		background:url(../images/newsArrow.png) no-repeat left center;

		display:block;

		border-top:1px dashed #ddd;

		text-decoration:none;}

.item h2{

		padding:20px 0 30px 20px;

		color:#333;

		font-size:15px;

		text-align:left;

		text-transform:uppercase;

		letter-spacing:0.25px;

		font-family: "proxima_nova_semibold";

		font-size:36px;}

.item a {

    color: #555555;

    display: block;

    font-family: "proxima_nova_semibold";

    font-size: 15px;

    letter-spacing: 0.25px;

	padding:0;

    text-align: left;

    text-decoration: none;

}



.item a.bTitle {

    color: #555555;

    display: block;

    font-family: "proxima_nova_semibold";

    font-size: 18px;

    letter-spacing: 0.25px;

    padding: 10px 0 10px 20px;

    text-align: left;

    text-decoration: none;

}



.item a:hover {

	color:#666;

	

	}

	

#bulletinwrapper {

	margin-top:50px;

}



.item a:hover {

    color: #666666;

}

.item span a {

    background: url("../images/newsArrow.png") no-repeat scroll left center transparent;

    border-top: 1px dashed #DDDDDD;

    color: #949494;

    display: block;

    font-family: "proxima_nova_semibold";

    font-size: 13px;

    letter-spacing: 0.25px;

    padding: 15px 20px;

    text-decoration: none;

}



.containerSpecial {

	padding-left:42px;

}