@charset "UTF-8";

/* CSS Document */



* {margin:0; padding:0; font-size:100%; font-weight:normal; list-style:none;}



body {


	color:#fafafa;

}



@font-face {

    font-family: "ProximaNovaLight";

    font-style: normal;

    font-weight: normal;

    src: url("fonts/proxima-nova-light/proxima-nova-light.eot?#iefix") format("embedded-opentype"), url("fonts/proxima-nova-light/proxima-nova-light.woff") format("woff"), url("fonts/proxima-nova-light/proxima-nova-light.ttf") format("truetype"), url("fonts/proxima-nova-light/proxima-nova-light.svg#ProximaNovaRegular") format("svg");

}

@font-face {

    font-family: "ProximaNovaRegular";

    font-style: normal;

    font-weight: normal;

    src: url("fonts/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Reg-webfont.woff") format("woff"), url("fonts/ProximaNova-Reg-webfont.ttf") format("truetype"), url("fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRegular") format("svg");

}

@font-face {

    font-family: "proxima_nova_semibold";

    font-style: normal;

    font-weight: normal;

    src: url("fonts/proxima-nova-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/proxima-nova-semibold.woff") format("woff"), url("fonts/proxima-nova-semibold.ttf") format("truetype"), url("fonts/proxima-nova-semibold.svg#ProximaNovaRegular") format("svg");

}

@font-face {

    font-family: "ProximaNovaExtraBold";

    font-style: normal;

    font-weight: normal;

    src: url("fonts/proxima-nova-extrabold.eot?#iefix") format("embedded-opentype"), url("fonts/proxima-nova-extrabold.woff") format("woff"), url("fonts/proxima-nova-extrabold.ttf") format("truetype"), url("fonts/proxima-nova-extrabold.svg#ProximaNovaRegular") format("svg");

}



.clearfix:after {

	content: ".";

	display: block;

	clear: both;

	visibility: hidden;

	line-height: 0;

	height: 0;

}





.logoSubTitle {

    color: #555555; 

    font-size: 12px; 

    padding-top: 0px; 

    display: inline-block;

	text-align:center;

	width:100%;

    margin-top: 2px;  

    letter-spacing: 1px;

    font-family: "ProximaNovaRegular";

}

 

.clearfix {

	display: inline-block;

}

 

html[xmlns] .clearfix {

	display: block;

}

 

* html .clearfix {

	height: 1%;

}



.noMarginRt{

		margin-right:0 !important;}

/*::::::::::::::::::: scroll :::::::::::::::::*/



* { margin: 0; padding: 0; }



html, body { height: 100%; }





.bulletinBody {

}

#bulletinwrapper{

		width:930px;

		padding-top:34px;

		height:auto;

		margin:0 auto;}

.bulletinHeader{

		width:100%;

		height:150px;

		background:#fff;}



.bulletinHeader a img {

	 	width:165px;

		height:auto;

}

.bulletinInner{

		width:100%;

		height:auto;

		padding-top:25px;

		

		}

.bulletinColumn{

		width:23%;

		height:auto !important;

		float:left;

		margin:0 2% 0 0;}

		

.newsBox p img, .newsBox a img, .newsBox img {
	max-width:100%;
}

.newsBox,.newsBoxBg{

		height:auto;

		background:#fff;

		box-shadow:0 0 2px rgba(0,0,0,0.3);

		margin-bottom:20px;

		display:block;}

.newsBoxBg{

		background:url("../images/img32.jpg") no-repeat scroll -63px -170px transparent;

		height:100px;}

.newsBoxColor{

		background:#d9e7cf;

		color:#333 !important;}

		

.rightBullrtinNews {

	padding-top:0 !important;

}



.newsBox ul {

    padding: 0 20px 10px;

}



.newsBox ul li {

    color: #666666;

    font-family: "ProximaNovaRegular";

    font-size: 15px;

    letter-spacing: 0.25px;

    list-style:  inherit;

    margin-left: 13px;

    padding: 5px 0 0;

}



.rightBullrtinNews h3 {

    background: none repeat scroll 0 0 #bcceaf;

    border-bottom: 2px solid #acbe9f;

    font-size: 18px;

    margin-bottom: 15px;

	font-family:"proxima_nova_semibold";

    padding-bottom: 5px;

    padding-top: 10px;

    text-align: center;

    text-transform: uppercase;

}

.rightBullrtinNews a {

    background: url("../images/b-bg.png") no-repeat scroll left top transparent;

    border-bottom: 1px dotted #CCCCCC;

    font-size: 13px !important;

    margin-bottom: 10px;

    margin-left: 10px;

    padding-bottom: 10px !important;

    padding-top: 0 !important;

    text-transform: none !important;

    width: 80%;

}



.rightBullrtinNews a:hover {

	color:#555555 !important;

}

.bulletinColumn strong {

	font-weight:bold;

}





.sizeXmal {

	font-size:18px !important;

}

.newsBoxColor a{

		color:#333 !important;}

.newsBoxInner {
	padding:20px;
		color:#666;

		font-size:15px;

		letter-spacing:0.25px;

		font-family: "ProximaNovaRegular";
}


.newsBox p{

		padding:15px 0 10px;

		color:#666;

		font-size:15px;

		letter-spacing:0.25px;

		font-family: "ProximaNovaRegular";}
		

.newsBoxInner p b, .newsBoxInner p strong, strong  {
	font-weight:bold;
}

.newsBoxInner p, .newsBoxInner a,  .newsBoxInner h2, .newsBoxInner h3, .newsBoxInner h4, .newsBoxInner h5, .newsBoxInner h6 {
	margin-left:0;
	padding-left:0;
	padding-left:0;
	padding-right:0;
}

.newsBoxInner p img {
	max-width:90%;
	 padding-right: 10px;
}



.newsBox span a {

		padding:15px 20px;

		color:#949494;

		font-size:13px;

		letter-spacing:0.25px;

		font-family: "proxima_nova_semibold";

		background:url(../images/newsArrow.png) no-repeat left center;

		display:block;

		border-top:1px dashed #ddd;

		text-decoration:none;}

.newsBox h2{

		padding:20px 0 30px 0;

		color:#333;

		font-size:15px;

		text-align:left;

		text-transform:uppercase;

		letter-spacing:0.25px;

		font-family: "proxima_nova_semibold";

		font-size:36px;}

		

.newsBox a {

	color:#555;

	

}

.newsBox a.Bmore , .rightBullrtinNews a{

		padding:20px 0 20px 20px;

		color:#555;

		font-size:15px;

		text-align:left;

		text-transform:uppercase;

		letter-spacing:0.25px;

		display:block;

		text-decoration:none;

		font-family: "proxima_nova_semibold";

	}

	

.newsBox a:hover {

	color:#666;

	

	}

.bulletinColumnRt{

		width:50%;

		height:auto !important;

		float:left;

		margin:0 2% 0 0;}

.bulletinColumnRtLeft{

		width:48%;

		height:auto !important;

		float:left;}

.bulletinColumnRtRight{

		width:48%;

		height:auto !important;

		float:right;}

		

.bulletinColumnPost {

	width:75% ;

}

.bulletinColumnPost a.bulletinTitle {

	 color: #333333;

    font-family: "proxima_nova_semibold";

    font-size: 36px;

    letter-spacing: 0.25px;

	 padding: 15px 0;

	 display:inline-block;

}





.midWidth1 {

	min-height:430px;

}

.rightWidth1 {

	min-height:185px;

}







.newsBoxFull{

		background: url("../images/bscheme.jpg") no-repeat scroll left;

		box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

		height: 200px;

		overflow: hidden;

		width: 100%;}

.bsm {

	padding-left:242px!important

	

}



p.bsm {

	padding-left:242px!important;

	padding-top:0 !important;

	

}





/* ipad // */

@media all and (max-width:768px) {

	#bulletinwrapper {

		width:96%;

	}

}



@media all and (max-width:1024px) {

	#bulletinwrapper{

		width:97%;

		clear:both;

	}

	

}



@media all and (max-width:680px) {

	#bulletinwrapper {

		width:97%;

	}

	

	.bulletinColumnPost {

		width:97% !important;

		

	}

	

	.bulletinColumn {

		width:96% !important;

		margin-left:2% !important;

	}

	

	

}



.NewsDate {

	padding-top:0 !important;

}

.bulletinInner table {
 max-width:100%;
 color: #666666;
    font-family: "ProximaNovaRegular";
    font-size: 15px;
    letter-spacing: 0.25px;
}

.bulletinInner table td {
 padding: 3px 5px 3px 0 ;
}

.bulletinInner table thead {
 background:eee;
 padding:5px;
}

.tableStyle1 {
    border: 1px solid #333333;
    text-align: center;
}

.tableStyle1 tr:hover {
background:#D9E7CF; 
}
.tableStyle1 td {
    border: 1px dotted #666666;
    padding: 6px;
}

.tableStyle1 th {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: medium solid #CCCCCC;
    border-right: 1px dotted;
    padding: 6px;
}