@font-face
{
font-family: proxima;
src: url('fonts/ProximaNova-Reg-webfont.ttf'),
  url('fonts/ProximaNova-Reg-webfont.svg'),
  url('fonts/ProximaNova-Reg-webfont.woff'),
     url('fonts/ProximaNova-Reg-webfont.eot'); /* IE9 */
}

fieldset {
    border: 1px solid #CCCCCC;
    font-family: proxima;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
}
.help_text {
    border: 0 none !important;
    color: #555555 !important;
    font-family: proxima !important;
    font-size: 15px !important;
}
.listed {
    color: #555555 !important;
    font-family: proxima !important;
    font-size: 15px !important;
}

.bld {
	font-weight: bold;
}

fieldset > ol > li {
    list-style: decimal inside none;
}

input, select {
    border: 1px solid #CCCCCC;
    color: #666666;
    font-family: proxima;
    font-size: 15px;
    height: 30px;
    min-width: 100% !important;
    padding: 0 0 0 5px;
    width: 100%;
}

input:focus, select:focus {
	border: 1px solid #9bb18d;
}


label {
    color: #555555;
    font-family: proxima;
    font-size: 15px;
    line-height: 20px;
}

td .col1 {
	width: 29% !important;
	padding-left:15px;
}

td .col2 {
	width: 20% !important;
}

td .col3 {
	width: 25% !important;
}

td .col4 {
	width: 75% !important;
}

td {
	padding: 10px 14px 10px 0px;
}

.sections {
	display:block; width:900px; height: auto; margin:0 auto; margin-bottom: 40px;
}

legend {
	font-size: 16px;
	font-family: proxima;
	color: #9bb18d;
	font-weight: bold;
}

.btn {
    background-color: #9BB18D;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: proxima;
    font-size: 16px;
    height: 30px;
    margin: 0 63px 0 0;
    transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-moz-transition: all 0.4s linear 0s;
    width: 200px;
}

button:hover {
	color: #000;
}

@media all and (max-width:768px) {
	.sections {
		width: 100% !important;
		margin: 5px 5px 5px 5px;
	}

	table {
		width: 100% !important;
		max-width: 90% !important;
	}

	fieldset {
		width: 100% !important;
		max-width: 100% !important;
	}

	td .col1 {
	width: 30% !important;
}

td .col2 {
	width: 20% !important;
}

td .col3 {
	width: 25% !important;
}

td .col4 {
	width: 75% !important;
}
}

@media all and (min-width:500px) {
	.sections {
		width: 90% !important;
		margin: 5px 5px 5px 5px;
	}

	table {
		width: 90% !important;
		max-width: 90% !important;
	}

	fieldset {
		width: 90% !important;
		max-width: 90% !important;
	}

	td .col1 {
	width: 20% !important;
}

td .col2 {
	width: 10% !important;
}

td .col3 {
	width: 25% !important;
}

td .col4 {
	width: 25% !important;
}



fieldset {
    max-width: 100% !important;
    width: 100% !important;
}
}