.sasSliderContent {
	height:auto;
}

* {
	outline: none;
	border: none;
}

img, a , div, .logo {
	outline: none;
	border: none;
}

#rightPanel {
	margin-left:300px;
}
.teamInfo {
	background:url(../images/t-bg2.png);
}

.shadowIe {
    background: url("../images/shadow-main.png") repeat scroll 0 0 transparent;
    height: 100%;
    position: absolute;
    right: -3px;
    width: 3px;
}

.teamInfo {
	background: url("../images/t-bg2.png") repeat scroll 0 0 transparent;
	border: solid 1px #DDDDDD;

}


.boardMember1Details, .boardMember2Details, .boardMember3Details, .boardMember4Details, .boardMember5Details, .boardMemberDetailsBg, .tembox {
	 background: url("../images/t-bg3.png") repeat    ;
	 border: solid 1px #DDDDDD;
	
}

.boardMember1Link, .boardMember2Link, .boardMember3Link, .boardMember4Link,.boardMember5Link {
    background: url("../images/black85.png") repeat    ;
}

	
.boardMember1,.boardMember2, .boardMember3, .boardMember4, .boardMember5 { 

	background:  url("../images/white0.png");
}

.boardMember3 {
    height: 157px !important;
  
}

/* sasContainer */

.sasContainer {
	width: auto !important;
	padding-left:10px;
}

.item {
	display: block;
	float: left;
	background: url(../images/itembg.png) bottom center no-repeat;
	border-top: solid 1px #e3e3e3;
}

.titleXlarge {
	width:500px !important;
	display:block;
	margin:0 auto;
	
}

.imghalf {

    width: 269px !important;
}


.sasContainer p { 
width:100%;
}



.SasDis {

    width: 95%;
	padding-right:0;
	padding-left:10px;
}


.SasDis .sasRightTitle {

    width: 97%;
	display:block
}


.sasContainerLeft {
    margin-right: 2%;
    padding: 0 0 0 0;
    position: relative;
    width: 60%;
}

.col1 {
}


input, select {
	width: 300px;
	min-width: 300px;
}