
.modallink {
	cursor:pointer;
}
.sqModal {
	backface-visibility: hidden;
    background: rgba(255, 255, 255, 0.75);
    color: #FFFFFF;
    height: 0;
    right: 0;
    overflow: hidden;
    padding-top: 0;
    position: fixed;
    top: 0;
	-webkit-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	-moz-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	-o-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    width: 77.7%;
    z-index: 9999999;
}


.sqModal.fullW {
	height:100%;
	visibility:hidden;
	opacity:0;
	background:#fff;
	 background: url(../images/modalBg.jpg) no-repeat left top!important;
   /* box-shadow: 3px 4px 50px #f3f3f3 inset;
	-webkit-box-shadow: 3px 4px 50px #f3f3f3 inset;*/
}


.sqModal.active {
    height: 100%;
	background: rgba(255, 255, 255, 0.90);
	/*-webkit-box-shadow: 3px 4px 250px #f3f3f3 inset;*/
}

.sqModal.fullW.active {
    height: 100%;
	background: rgba(255, 255, 255, 0.98);
	visibility: visible !important;
	opacity:1;
}

.sqModal.hide {
}

.modalwrapper {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:99995;
	opacity:0.1;
	
}

.modalinner {
	z-index:99996;
	position:relative;
	max-width:500px;
	height:auto;
	padding:50px;
	border-radius:6px;
	display:block;
	margin:0 auto;
	margin-top:50px;
	 

	color:rgba(255,255,255,0.8);
	margin-left:-500px;
    opacity: 0;
    padding: 0;
    top: -10%;
	-webkit-transform:perspective(600px) rotateX(10deg);
	-moz-transform:perspective(600px) rotateX(10deg);
	-ms-transform:perspective(600px) rotateX(10deg);
	-o-transform:perspective(600px) rotateX(10deg);
	transform:perspective(600px) rotateX(10deg);
		-webkit-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
	-moz-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
	-o-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
	transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
		color:#222;
}

.sqModal.active .modalinner {
	margin-left: auto;
	opacity:1;
	 margin-top: 80px;
    opacity: 1;
    top: 0;
    -webkit-transform:perspective(600px) rotateX(0deg);
	-moz-transform:perspective(600px) rotateX(0deg);
	-ms-transform:perspective(600px) rotateX(0deg);
	-o-transform:perspective(600px) rotateX(0deg);
	transform:perspective(600px) rotateX(0deg);
    visibility: visible;
}


h2:afterz {
    background: none repeat scroll 0 0 #DDDDDD;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 180px;
}
.modalinner h2 {
    color: #111;
    display: block;
    font-family: "proxima_nova_semibold";
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 40px;
    position: relative;
}

.modalinner p, .modalinner2 p {
	margin-bottom:15px;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 18px;
	color:#333;
}




.modalclose {
	position:fixed;
	right:50px;
	top:50px;
	font-size:36px;
	z-index:99999999;
	visibility:hidden;
	-webkit-transform:perspective(600px) rotateX(90deg);
	-moz-transform:perspective(600px) rotateX(90deg);
	-ms-transform:perspective(600px) rotateX(90deg);
	-o-transform:perspective(600px) rotateX(90deg);
	transform:perspective(600px) rotateX(90deg);

	-webkit-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.2s;
	-moz-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.2s;
	-o-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.2s;
	transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.2s;
	cursor:pointer;
}


.sqModal.active .modalclose {
/*	font-family: "proxima_nova_semibold";
    font-size: 30px;
	color:#fff;*/
	text-indent:-99999px;
	height:28px;
	width:28px;
	background:url(../images/close-modal.png) no-repeat center center;
	visibility:visible;
	-webkit-transform:perspective(600px) rotateX(10deg);
	-moz-transform:perspective(600px) rotateX(10deg);
	-ms-transform:perspective(600px) rotateX(10deg);
	-o-transform:perspective(600px) rotateX(10deg);
	transform:perspective(600px) rotateX(10deg);
		-webkit-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
	-moz-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
	-o-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
	transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
		
	
}

body.active {
	overflow: hidden;
}

/* owl-carousel */

.modalinner2 {
	z-index:99996;
	position:relative;
	width:100%;
	height:auto;
	padding:50px;
	border-radius:6px;
	display:block;
	margin:0 auto;
	margin-top:50px;
	color:rgba(255,255,255,0.8);
	margin-left:0;
    opacity: 0;
    padding: 0;
    top: -10%;
	-webkit-transform:perspective(600px) rotateX(10deg);
	-moz-transform:perspective(600px) rotateX(10deg);
	-ms-transform:perspective(600px) rotateX(10deg);
	-o-transform:perspective(600px) rotateX(10deg);
	transform:perspective(600px) rotateX(10deg);
		-webkit-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
	-moz-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
	-o-transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
	transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0.6s;
		color:#222;
		text-align:center;
}

.sqModal.active .modalinner2 {
	opacity:1;
	 margin-top: 80px;
    opacity: 1;
    top: 0;
    -webkit-transform:perspective(600px) rotateX(0deg);
	-moz-transform:perspective(600px) rotateX(0deg);
	-ms-transform:perspective(600px) rotateX(0deg);
	-o-transform:perspective(600px) rotateX(0deg);
	transform:perspective(600px) rotateX(0deg);
    visibility: visible;
}

.modalinner-80 {
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
}


.owl-carousel .intro {
    max-width: 650px;
    padding-top: 110px;
    text-align: center;
}
.owl-carousel .intro-big {
    max-width: 100%;
    padding-top: 50px;
    text-align: center;
}
.text-center{
		text-align:center;}
.img-responsive{
		max-width:100%;
		height:auto;}
.owl-carousel .intro h1 {
    border-bottom: 1px solid #89B292;
    color: #FFFFFF;
    display: block;
    font-family: "proxima_nova_semibold";
    font-size: 1.6em;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 15px 0;
    text-align: left;
}

.owl-carousel .introWorkSafty h1 {
    padding: 10px 0;
}

.owl-carousel .intro h1:last-child{
		border:none;}
.style3 .intro {
	max-width:800px;
	margin:0 auto;
}


.style3 .intro h1 {
	font-size:36px;
	line-height:normal;
}


.style6  .section {

}

.style6 .intro {
	max-width:800px;
	margin:0 auto;
}


.style6 .intro h1 {
	font-size:36px;
	line-height:normal;
	color:#111;
    font-family: "proxima_nova_semibold";
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform:  capitalize;
	
}

.style7 {
}

.sqModalstyle7 {
	background:  0 !important;
}

.sqModalstyle7.active {

    box-shadow:none;
	-webkit-box-shadow: none ;
	background:#fff;
	background:  rgba(255,255,255,0.92) !important;
}

.style7 .intro {
	max-width:880px;
	margin:0 auto;
}

.style7 .intro {
    margin: 0 auto;
    max-width: 880px;
}

.style7 .intro h1 {
    color: #9BB18D;
    display: block;
    font-family: "proxima_nova_semibold";
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 0;
    text-align: left;
    text-transform: inherit;
}


.style7small .intro h1 {
	color: #9BB18D;
    display: block;
    font-family: "proxima_nova_semibold";
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 0;
    text-align: left;
    text-transform: inherit;
}

/* */

#fullPage-nav {
	display:none;
}

#fullPage-nav.active {
	display:block;
}
@media all and (max-width:800px){
	
		.sqModal{
				width:62.4%;
				border:0;}
		.owl-carousel .intro{
				padding-top:110px;}
	
	}
@media all and (max-width:680px){
	
		.sqModal{
				width:100%;
				border:0;}
		.owl-carousel .intro{
				padding-top:0;}
	
	}