@charset "UTF-8";
/* CSS Document */

* {margin:0; padding:0; font-size:100%; font-weight:normal; list-style:none;}

body {
    font-family:ProximaNovaRegular,Arial,Helvetica;;
	font-size:11px;
	color:#FFF;
}

@font-face {
    font-family: "ProximaNovaLight";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/proxima-nova-light/proxima-nova-light.eot?#iefix") format("embedded-opentype"), url("fonts/proxima-nova-light/proxima-nova-light.woff") format("woff"), url("fonts/proxima-nova-light/proxima-nova-light.ttf") format("truetype"), url("fonts/proxima-nova-light/proxima-nova-light.svg#ProximaNovaRegular") format("svg");
}
@font-face {
    font-family: "ProximaNovaRegular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Reg-webfont.woff") format("woff"), url("fonts/ProximaNova-Reg-webfont.ttf") format("truetype"), url("fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRegular") format("svg");
}
@font-face {
     font-family: "proxima_nova_semibold"; font-style: normal;
    font-weight: normal;
    src: url("fonts/proxima-nova-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/proxima-nova-semibold.woff") format("woff"), url("fonts/proxima-nova-semibold.ttf") format("truetype"), url("fonts/proxima-nova-semibold.svg#ProximaNovaRegular") format("svg");
}
@font-face {
    font-family: "ProximaNovaExtraBold";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/proxima-nova-extrabold.eot?#iefix") format("embedded-opentype"), url("fonts/proxima-nova-extrabold.woff") format("woff"), url("fonts/proxima-nova-extrabold.ttf") format("truetype"), url("fonts/proxima-nova-extrabold.svg#ProximaNovaRegular") format("svg");
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
.noMarginRt{
		margin-right:0 !important;}

/*::::::::::::::::::: scroll :::::::::::::::::*/

* { margin: 0; padding: 0; 	outline: none;
	border: none; }

html, body { height: 100%; }

/*:::::::::::::::::: Global Font ::::::::::::::::::*/

#topBarContainer {
    background: none repeat scroll 0 0 #333333;
    height: 26px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
	display:none;
}


.newsLetter {
	display:none;
}

#leftPanel {
	height:100%;
	width:300px;
	background:  #fff;
	position:fixed;
	left:0;
	top:0;
	/*box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);*/
	z-index:99999;
}
.leftPanelHome{
 box-shadow: -2px 0 3px #777777;
 border-right: solid 1px #DDDDDD;
}


.shadowIe {
    background: url("../images/shadow-main.png") repeat scroll 0 0 transparent;
    height: 100%;
    position: absolute;
    right: -3px;
    width: 3px;
}


#leftPanel .mCSB_draggerContainer {
	opacity:0 !important;
}

#leftPanel:hover .mCSB_draggerContainer {
	opacity:.8!important;
}

#container {
    /*max-height: 838px;*/
	position:relative;
	width:100%;

}



.logo {
    
    margin-bottom: 15px;
    margin-top: 50px;
    padding-bottom: 15px;
	border-bottom: 1px solid #DDDDDD;
}



.pagetitle h3 {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    color: #404040;
    font-family: proxima_nova_semibold;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.leftMenu ul li {
    margin: 0;
	line-height:1em;
    padding: 12px 0;
    text-align: center;
}
/*.leftMenu ul li a{
	color: #636363;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
}
*/


.leftMenu ul li a {
    color: #555555;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2.2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s ease 0s;
	-webkit-transition: color 0.5s ease 0s;
	-o-transition: color 0.5s ease 0s;
	-moz-transition: color 0.5s ease 0s;
}

.leftMenu ul li a:hover, .leftMenu ul li a.active, .leftMenu ul li a.current {
	color:#9BB18D;
}

#rightPanel {
	height:auto;
	left:0;
	top:0;
	float:left;
	margin-left:300px;
}
.rightPanelGap{
		padding:0 1%;}
.rightPanelInner {
	width:100%;
	display:block;
	right:

}

h2.mgc {
    background: url("../images/email.png") no-repeat scroll center top transparent;
    color: #5D5D5D;

    font-family: 'proxima_nova_semibold';
    font-size: 1em;
    letter-spacing: 0.2em;
    line-height: 1em;
    padding-bottom: 11px;
    padding-top: 27px;
    text-align: center;
}

.social h2 {
    color: #5D5D5D;
    font-family: 'proxima_nova_semibold';
    font-size: 1em;
    letter-spacing: 0.2em;
    line-height: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}
.newsLetter h3 {
    color: #5D5D5D;
    font-family: ProximaNovaRegular;
    font-size: 12px;
    line-height: 1.8em;
    padding: 0 40px;
    text-align: center;
}
input.input-newsletter[type="email"] {
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    color: #A7A7A7;
    font-family: 'proxima_nova_semibold';
    font-size: 0.8em;
    font-weight: normal;
    height: auto;
    letter-spacing: 0.2em;
    margin: 18px 0 10px 40px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 185px;
}

.hrcenter {
	height:1px;
	border-bottom: solid 1px #ddd;
	width:60%;
	margin-left:20%;
	margin-top:15px;
	margin-bottom:15px;
}

a.submit {
    background: url("../images/aw_newsletter.gif") no-repeat scroll right 4px transparent;
    color: #9AB18C;
    font-family: 'proxima_nova_semibold';
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 0.2em;
    padding-right: 20px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

#main-menu form {
    position: relative;
}
#main-menu form .error-ico {
    position: absolute;
    right: 10px;
    top: 21px;
}


div .nav-social {
    display: block;
    margin: auto;
    padding: 0 0 12px;
    text-align: center;
}
div.nav-social ul {
    display: inline-block;
    height: 20px;
    margin: 20px 0 0;
    padding: 0;
}
div.nav-social ul li {
    float: left;
    height: 20px;
    line-height: 1em;
    margin: 0 0 0 12px;
    text-align: center;
    width: 20px;
}
div.nav-social ul li:first-child {
    margin-left: 0;
}
div.nav-social ul li a {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #C69C6D;
    display: block;
    font-size: 0.9em; 
    height: 21px;
    text-indent: -5000px;
    text-transform: uppercase;
    width: 21px;
}

div.nav-social ul a {
	opacity:.7;
}

div.nav-social ul a:hover {
	opacity:1;
}


div.nav-social ul .facebook a {
    background-image: none, url("../images/fb.png");
}
.ie nav.nav-social ul .facebook a {
    background-image: url("../images/fb.png");
}
div.nav-social ul .facebook a:hover {
    background-image: none, url("../images/fb.png");
}
.ie nav.nav-social ul .facebook a:hover {
    background-image: url("../images/socials/fb.png");
}
div.nav-social ul .twitter a {
    background-image: none, url("../images/tw.png");
}

div.nav-social ul .twitter a:hover {
    background-image: none, url("../images/tw.png");
}
.ie nav.nav-social ul .twitter a:hover {
    background-image: url("../images/tw.png");
}
div.nav-social ul .you-tube a {
    background-image: none, url("../images/yt.png");
}
.ie nav.nav-social ul .you-tube a {
    background-image: url("../images/yt.png");
}
div.nav-social ul .you-tube a:hover {
    background-image: none,url("../images/yt.png");

}
.ie nav.nav-social ul .you-tube a:hover {
    background-image: url("../images/yt.png");
}
div.nav-social ul .gp {
    padding: 0 !important;
}
div.nav-social ul .gp > a {
    background-image: none, url("../images/g.png");
}
.ie nav.nav-social ul .gp > a {
    background-image: url("../images/g.png");
}
div.nav-social ul .gp > a:hover {
    background-image: none, url("../images/g.png");
}
.ie nav.nav-social ul .gp > a:hover {
    background-image: url("../images/g.png");
}
div.nav-social ul .weibo {
    padding: 0 !important;
}
div.nav-social ul .weibo > a {
    background-image: none, url("../images/menu/socials/weibo.svg");
}
.ie nav.nav-social ul .weibo > a {
    background-image: url("../images/menu/socials/weibo.png");
}
div.nav-social ul .weibo > a:hover {
    background-image: none, url("../images/menu/socials/weibo_over.svg");
}
.ie nav.nav-social ul .weibo > a:hover {
    background-image: url("../images/menu/socials/weibo_over.png");
}
div.nav-social ul .pinterest {
    padding: 0 !important;
}
div.nav-social ul .pinterest > a {
    background-image: none, url("../images/in.png");
}
.ie nav.nav-social ul .pinterest > a {
    background-image: url("../images/in.png");
}
div.nav-social ul .pinterest > a:hover {
    background-image: none, url("../images/in.png");
}
.ie div.nav-social ul .pinterest > a:hover {
    background-image: url("../images/in.png");
}


.td1 {
	vertical-align:middle;
}


#container .left {
	width:35%;
	display:block;
	height:100%;
	float:left;
}


.leftWidth {
	width:65%;
	display:block;
	height:100%;
	float:left;
}

.rightWidth {
	width:35%;
	display:block;
	height:100%;
	float:left;
	background:#fff;
}



#container .right {
	width:65%;
	display:block;
	height:100%;
	float:left;
}

.slogan img {
	width:140px !important;
}

.bulletinBody #rightPanel {
}


.logoSubTitle {
    color: #555555; 
    font-size: 12px; 
    padding-top: 0px; 
    display: inline-block;
	text-align:center;
	width:100%;
    margin-top: 2px;  
    letter-spacing: 1px;
    font-family: "ProximaNovaRegular";
}
 
	

.con1 {
    clear: both;
    display: block;
    height: 50%;
    vertical-align: middle;
    width: 100%;
	position:relative;
	overflow:hidden;
}

.con1 img {
	width:100%;
	display:block;
}

.con2 {
    clear: both;
    display: block;
    height: 100%;
    vertical-align: middle;
    width: 100%;
	position:relative;
}

.con2 img {
	width:100%;
	display:block;
}


.imgOpa
    {
        opacity:1;
        filter:alpha(opacity=100);
    }
	
table {
	border-collapse:collapse;
	
}


.title2 {
	color: #767370; /* text color */
	 font-family: "proxima_nova_semibold" , arial;
	font-size: 40px;
	font-weight: bold;
	text-transform:uppercase;
}

.title2 span {
	color: #000; /* text color */
	
}

.arrowlingeri  {
	position:absolute;
	bottom:0;
	height:29px;
	width:100%;
	background:url(../images/lingeriearrwo.png) center bottom no-repeat;
}

.arrow  {
	position:absolute;
	bottom:0;
	height:29px;
	width:100%;
	background:url(../images/arrow.png) center bottom no-repeat;
}


.fixedtop {
	position: fixed ;
	background: url(http://www.zegna.com/files/live/sites/contenuti/files/contributed/couture/cover_couture_emisfero_nord.jpg)top center no-repeat; 
	height:570px; 
	width:100%; 
	top:0; 
	left:0;
}

.titleabout{
	position:fixed;
	width:250px; 
	height:187px; 
	left:50%; 
	margin-left:-600px;
	margin-top:200px;
}
.fish{
	position:fixed;
	background:url(../css/images/bubble.png);
	width:300px;
	height:246px;
	left:50%;
	margin-left:400px;
	margin-top:500px;
}


.titleabout {
	color:#fff;
	text-align:center;
}

/* :::::::::::::::: full :::::::::::: */
.topmenu {
    background: none repeat scroll 0 0 #212830;
    height: 31px;
    position: fixed;
    width: 100%;
    z-index: 999;
	top:0;
}

.full {
	width:100%;
	padding-top:31px;
}

.topmenubar {
    background: none repeat scroll 0 0 #212830;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 960px;
    z-index: 999;
}

.topmenubar p {
	margin-top:5px;
}

.topmenubar p a {
	text-transform:uppercase;
	color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
}

.contentbox {
	width:100%;
	display:block;
	/*min-height:645px;*/
	height:100%;
	position:relative;
	overflow:hidden;
}

.productbody {

}

.inndercontent {
	width:960px;
	margin:0 auto;
}

.bsnsimg {
	position:absolute;
	z-index:2;
}

.contentInfo {
	width:100%;
	display:block;
	min-height:550px;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	
}

.topMenuExpand {
    background: rgba(87,105,76,.95);
    color: #FFFFFF;
    margin: 0 1%;
    opacity: 0.95;
    padding: 20px 0 0;
    position: relative;
    width: 98%;
    z-index: 998;
	height:600px;
	top:6px;
}

.icon1 , .icon2, .icon3, .icon4, .icon5{
    background: url("../images/sqicon/sq-sprit-1.png") left top;
    display: block;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}

a:hover .icon1 {
	background:url(../images/sqicon/sq-sprit-1.png) no-repeat left -110px        !important ;
}

a:hover .icon2 {
	background:url(../images/sqicon/sq-sprit-1.png) no-repeat -230px -110px        !important ;
}

a:hover .icon3 {
	background:url(../images/sqicon/sq-sprit-1.png) no-repeat -460px -110px        !important ;
}

a:hover .icon4 {
	background:url(../images/sqicon/sq-sprit-1.png) no-repeat -700px -116px        !important ;
}

a:hover .icon5 {
	background:url(../images/sqicon/sq-sprit-1.png) no-repeat -1710px -116px        !important ;
}

.icon2 {
    background: url("../images/sqicon/sq-sprit-1.png") -230px top;
}
.icon3 {
    background: url("../images/sqicon/sq-sprit-1.png") -460px top;
}
.icon4 {
    background: url("../images/sqicon/sq-sprit-1.png") -700px top;
}
.icon5 {
    background: url("../images/sqicon/sq-sprit-1.png") -1710px top no-repeat;
}

.topmenubar .toggleNav {
	cursor:pointer;
}

.wrappermenu {
	width:960px;
	margin:0 auto;
	position:relative;
}

.closemenu {
	float:right;
	color:#fff;
	position: absolute;
	right:0;
	top:-12px;
	cursor:pointer;
}

#box-links h1 {
    color: #FFFFFF;
    font-size: 3em;
    letter-spacing: 0.3em;
    margin: 35px 0;
    text-transform: uppercase;
	border-bottom: solid #ddd 1px;
	padding-bottom:20px;
}
.menulist {
	margin:100px 0;
}
.menulist a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    letter-spacing: 3px;
    margin: 0 0 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 33%;
}

.contentInfo h1, .servicesInfo h1 {
    color: #454242;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 4em;
    letter-spacing: 2px;
    margin: 70px 0 0;
    text-transform: uppercase;
}
.contentInfo h3, .servicesInfo h3 {
	color: #454242;
    font-size: 18px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
	font-family:ProximaNovaRegular,Arial,Helvetica;
}

.topTxt h1, .topTxt h3 {
	text-align:center;
}

.bsnsLet {
    float: left;
    margin-left: 0;
    text-align: center;
    width: 100%;
}
.innercontainer {
	width:90%;
	margin:0 auto;
	padding-top:25px;
}


.topTxt {
	margin-top:80px;
}

.bsnslogo {
	float: left;
    height: auto;
    width: 165px;
}

.bsnstitle {
	font-size:26px;
	float: left;
    font-family: georgia;
    margin-top: 102px;
}

 .txt {
    color: #EAEAEA;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    line-height: 1.833em;
    width: 420px;
	font-family: georgia;
	background:rgba(0,0,0,0.25);
	padding:20px;
}

.txtCup {
	height:234px !important;
}

.icontxtCup {
	margin-top:50px !important;
}

.icontxtCup .servicesicon a {
    font-size: 40px;
    margin: 49px 0 10px !important;
}

.icontxtfull {
	position:relative;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.txtMain {
	color: #fff;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    line-height: 1.833em;
    width: 840px;
	font-family: georgia;
	 background: none repeat scroll 0 0 rgba(97, 128, 76, 0.4);
    border-radius: 10px 10px 10px 10px;
	padding:20px;
}

.txt p, .txtMain p {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
}

.txt {
	border-left: 1px solid #C69C6D;
    margin: 50px 0 0 0;
    padding-left: 20px;
}


.containerBottomCarrerInner {
    background: url("../images/hirebg.jpg") no-repeat scroll left top #9bb18d;
    display: inline-block;
    min-height: 160px;
    width: 100%;
}

.creerHomeContainer {
	
}

.jobNotice {
    
    float: right;
    height: 90px;
    margin-right:0;
    margin-top: 40px;
    width: 66%;
}

.borDerRightTd {
	border-right: 1px solid #FFFFFF;
	padding-right:10px;
	width:208px;
	text-align:center;
}



.jobNotice td {
	height: 90px;
	vertical-align:middle;
}

.jobNotice a, .hireText  {
    /*background: url("../images/jobicon.png") no-repeat scroll left top transparent;*/
    color: #FFFFFF;
    display: inline-block;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 20px;
    font-weight:  normal;
    margin-left: 25px;
    margin-top: 0;
    min-height: 18px;
    text-decoration: none;
    text-transform: capitalize;
    transition: color 0.5s ease 0s;
	-webkit-transition: color 0.5s ease 0s;
	-moz-transition: color 0.5s ease 0s;
	-o-transition: color 0.5s ease 0s;

}

.hireText  {
	text-align: justify;
}


.jobNotice a:hover {
	border-bottom: 1px dotted #fff;
    color: #eee;
}

.icontxt {
}

.icontxtfull {
    float: none !important;
    margin: 0 auto !important;
    width: 600px !important;
}

.icontxtfull .icontxtInner {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
}

.icontxt2 {
	 width: 330px !important;
}

.icontxt2 .servicesicon a {
    margin: 0 0 10px;
    padding: 0;
    width: 100% !important;
}

.menufooter {
	padding:10px 0;
	background:url(../images/homebg.png) center no-repeat;
}

.menufooter ul {
    text-align: center;
}

.menufooter ul li {
    display: inline-block;
    padding: 0 20px;
}


.menufooter ul li a {
    color: #A3A3A3;
    font-size: 12px;
	text-transform:uppercase;
	text-decoration:none;
}

.menuCopyRightInfo {
	color:#A3A3A3;
	margin-top:15px;
}

/* about */

.aboutContentTop {
	height:570px;
	background: url(../images/bg6.jpg) center center fixed;
	width:100%;
}

.titleXlarge {
    color: #DDDDDD;
    font-family: "proxima_nova_semibold";
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 130px;
    text-align: center;
    text-transform: inherit;
	width:100%;
	display:block;
	
}

.titleMLarge {
    color: #DDDDDD;
    font-family: "proxima_nova_semibold";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 155px;
    text-align: center;
    text-transform: lowercase;
	width:100%;
	display:block;
	
}

.titleMLargeNormal {
    color: #DDDDDD;
    font-family: "proxima_nova_semibold";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 155px;
    text-align: center;
    text-transform:  capitalize;
	width:100%;
	display:block;
	
}

.caps {
	text-transform:uppercase !important
}

.innerContentBoxContainer {
	padding:20px;
}

h2.innerTitle {
    color: #363636;
    font-family: "proxima_nova_semibold",arial;
    font-size: 23px;
    font-weight: normal;
    letter-spacing: 5px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

p.innerText {
    color: #707070;
    font-family: georgia;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
    width: 65%;
}

.titleSub {
   font-size: 2em;
    letter-spacing: 0.8em;
    text-transform: uppercase;
	text-align:center;
}

.innerContentBox {
	height:250px;
	width:100%;
	background:#F2F0F1;
}

.innerContentBox2 {
	width:100%;
	background:#fff;
}


/*----------------------------------------------------N E W -----------------------------------------------*/
 .txt {
	background: repeat scroll 0 0 rgba(97, 128, 76, 0.4);
    border-radius: 10px 10px 10px 10px;
    color: #EAEAEA;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 0.75em;
    height:  auto;
    letter-spacing: 0.05em;
    line-height: 1.833em;
    margin: 30px auto 0;
	border:0;
    padding: 0 20px;
	padding-bottom:20px;
    width: 420px;
}
.txt p {
    font-size: 14px;
    font-weight: normal;
	padding:20px 20px 0 20px;
    line-height: 22px;
	text-align: justify;
	color:#333;
	
}
.icontxt {
	width: 420px;
	height:165px;
	background: repeat scroll 0 0 rgba(97, 128, 76, 0.4);
	font-family:Georgia;
	padding:10px;
    margin: 30px 0 0 10px;
	float:left;
	border-radius: 10px 10px 10px 10px;
}

.icontxtInner{
		width:100%;
		border-bottom:1px solid rgba(255,255,255,0.2);
		position:relative;
		height:auto;
		display:block;
		overflow:hidden;}
.icontxtInner p{
		 background:url(../images/productHeading_bg.png) no-repeat left center;
		 text-align:center;
		 font-size:12px;
		 margin-bottom:5px;
		 display:block;
		 letter-spacing:5px;}

.productmenulist a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    letter-spacing: 3px;
    margin: 0 0 10px 28px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 25%;
}

.servicesicon a {
	width:40% !important;
}

.productIcon1,.productIcon2,.productIcon3{
    background: url("../images/sqicon/sq-sprit-1.png") -930px 0;
    display: block;
    height: 110px;
    text-align: center;
    width: 110px;
  transition: all 0.2s linear;
  	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
  margin:0 auto;
}

.productIconY1,.productIconY2,.productIcon3, .productIconY5{
    background: url("../images/sqicon/services-sprit.png") repeat scroll left top transparent;
    display: block;
    height: 110px;
    text-align: center;
    width: 110px;
  transition: all 0.2s linear;
   	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
  margin:0 auto;
}
a:hover .productIconY1 {
 background:url("../images/sqicon/services-sprit.png") no-repeat scroll left -110px transparent    !important;
}
.productIconY2 {
 background:url("../images/sqicon/services-sprit.png") repeat scroll -230px top transparent}


a:hover .productIconY2 {
 background:url("../images/sqicon/services-sprit.png") no-repeat scroll -230px -110px transparent    !important
}


.productIconY5 {
 background:url("../images/sqicon/services-sprit.png") repeat scroll -951px top    !important}


a:hover .productIconY5 {
 background:url("../images/sqicon/services-sprit.png") no-repeat scroll -951px -110px transparent    !important
}
a:hover .productIcon1 {
 background:url("../images/sqicon/sq-sprit-1.png") no-repeat scroll -930px -117px transparent    !important
}

a:hover .productIcon2 {
 background:url(../images/sqicon/sq-sprit-1.png) no-repeat -1181px -117px transparent    !important ;
}

a:hover .productIcon3 {
 background:url(../images/sqicon/sq-sprit-1.png) no-repeat -1440px -117px transparent    !important ;
}

.productIcon2 {
    background: url("../images/sqicon/sq-sprit-1.png") -1181px top;
}
.productIcon3 {
    background: url("../images/sqicon/sq-sprit-1.png") -1440px top;
}

.yMore {
	color:#ddd ;
	display: inline-block;
	padding:0 5px;
}
.yMore:hover {
	color:#333 !important;
	background:#ddd;
}

/*----------------------------- Service -------------------------------*/
.serviceContent{
		width:960px;
		height:255px;
		margin:0 auto 0 auto;}
.serviceIcon{
		width:25%;
		height:200px;
		margin:20px 0 0 0;
		float:left;}
.serviceIcon ul li{
		float:left;
		padding: 18px 22px 0 33px;}
.serviceIcon img{
		height:50px;
		display:block;
		margin-bottom:5px;
		width:50px;}
.serviceIcon a{
		text-align:center;
		color:#fff;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:12px;
		text-decoration:none;}
.serviceText{
		width:73%;
		float:right;
		height:250px;
		background:rgba(0,0,0,.5);
		border-left:1px solid #C69C6D;}
.serviceText p{
		font-family:Georgia, "Times New Roman", Times, serif;
		color:#fff;
		letter-spacing:0.25px;
		line-height:18px;
		font-size:12px;
		padding:10px 10px 0 10px;}
.clienteleIcon{
		margin:0;}
.clientele{
		float:right;}
#link4 {
	background:url(../images/bg.gif);
}

.biriqinaInner {
	padding-top:0;}

.biriqina {
    background: url("../images/sec_highlight.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20px 20px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 507px;
}
.biriqinaLogo{
		margin:50px 0 0 0;}
.biriqina h1{
		color:#084F80;
		text-align:center;
		  font-family: "proxima_nova_semibold" , arial;
		 display:block;
		 line-height:42px;
		 letter-spacing: 30px;
		 font-size:72px;
		 font-weight:800;}
.biriqina span{
		color:#888;
		display:block;
		letter-spacing: 30px;
		text-align:center;
		  font-family: "proxima_nova_semibold" , arial;
		 font-size:36px;
		 line-height:0;}


.biriqinatxt {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-left: 0 none;
    border-radius: 10px 10px 10px 10px;
    display: block;
    height: auto;
    margin: 20px auto 0;
    padding: 10px 10px 10px 15px;
    position: relative;
    width: 85%;
}
.biriqinatxt p{
		font-size:14px;
		line-height:18px;
		letter-spacing:0.25px;
		color:#084F80;}



.visitlink {
    background: none repeat scroll 0 0 #006AB3;
    font-size: 11px;
    height: auto;
    margin: 20px auto 30px;
    position: relative;
    text-align: center;
    width: 180px;
}

.visitlink:hover {
	background:#0866a6;
}

.visitlink a {
	text-decoration: none;
	text-transform:uppercase;
	letter-spacing:2px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#fff !important;
	line-height:32px;
	text-align:center;
}


.arrowanimated {
    background: url("../images/arrowanimated.png") repeat scroll 0 0 transparent;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
	transition: all 0.3s ease-out 0s;
	 	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition:all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
}


.visitlink:hover .arrowanimated {
    background: url("../images/arrowanimated.png") repeat scroll 0 0 transparent;
    height: 32px;
    position: absolute;
    right: -37px;
    top: 0;
    width: 37px;
	transition: all 0.3s ease-out 0s;
	 	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition:all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;

}
/* :::::::::::::::: busness inner page :::::::::::::::: */

.productIcon1,.productIcon2,.productIcon3{
    background: url("../images/sqicon/sq-sprit-1.png") -930px 0;
    display: block;
    height: 110px;
    text-align: center;
    width: 110px;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition:all 0.2s linear;
	 margin:0 auto;
}

a:hover .productIcon1 {
 background:url("../images/sqicon/sq-sprit-1.png") no-repeat scroll -930px -117px transparent    !important
}

a:hover .productIcon2 {
 background:url(../images/sqicon/sq-sprit-1.png) no-repeat -1181px -117px transparent    !important ;
}

a:hover .productIcon3 {
 background:url(../images/sqicon/sq-sprit-1.png) no-repeat -1440px -117px transparent    !important ;
}

.productIcon2 {
    background: url("../images/sqicon/sq-sprit-1.png") -1181px top;
}
.productIcon3 {
    background: url("../images/sqicon/sq-sprit-1.png") -1440px top;
}

/* :::::
::::::::::: kitwear  ::::::::::::::::::::::: */
.prxtop2 {
	padding-bottom:0;
}
.prxtop1 {
	width:100%;
	margin:0 auto;
	height:356px;
	overflow:hidden;
}

.kintBg {
	background: url(../images/knitwear-bg.jpg) right 0 fixed;
}


.businessBg {
		background:url(../images/businessbg.jpg) top  fixed;

}
.sq-about-us {
		background:url(../images/sq-about-us.jpg) top  fixed;

}
.supportBg  {
		background:url(../images/image50.jpg) top  fixed;

}

.titleXlarge2 {
    color: #DDDDDD;
    font-family: "proxima_nova_semibold";
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 130px;
    text-align: center;
    text-transform: uppercase;
}

.titleSub2 {
    color: #FFFFFF;
    font-size: 19px;
    letter-spacing: 1px;
    margin: 30px auto 0;
    text-align: center;
    text-transform: none;
    width: 74%;
}

.BiriqinaTop {
	background:url(../images/bg.gif) top  fixed;
}

.BiriqinaTop .titleXlarge {
	padding-top:60px !important;
}

.printBg {
	background:url(../images/printbg3.jpg) top  fixed;
}


.shadowTxt {
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.proInner {
	width:100%;
	margin:0 auto;
	text-align:center;
	padding-bottom:20px;
}

.prxtop2 .proInner {
	background:#fff;
	padding-bottom:0;
}
/*.protitle2 {
    color: #2C2C2C;
     font-family: "proxima_nova_semibold"; font-size: 2.4em;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    margin-bottom: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;
	 -moz-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	   -webkit-transition: all 0.3s ease-out 0s;
	padding-top:20px;
}
*/


.proInner h2 {
    color: #2C2C2C;
     font-family: "proxima_nova_semibold"; 
	 font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 1.1em;
	text-align: inherit;
    margin-bottom: 15px;
    text-transform:   inherit;
    transition: all 0.3s ease-out 0s;
	 -moz-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	   -webkit-transition: all 0.3s ease-out 0s;
}

.proInner h3 {
    color: #2C2C2C;
     font-family: "proxima_nova_semibold"; 
	 font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.1em;
	text-align: inherit;
    margin-bottom: 15px;
    text-transform:   inherit;
    transition: all 0.3s ease-out 0s;
	 -moz-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	   -webkit-transition: all 0.3s ease-out 0s;
}

.proInner h4 {
    color: #2C2C2C;
     font-family: "proxima_nova_semibold"; 
	 font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.1em;
	text-align: inherit;
    margin-bottom: 15px;
    text-transform:   inherit;
    transition: all 0.3s ease-out 0s;
	 -moz-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	   -webkit-transition: all 0.3s ease-out 0s;
}


.proInner h5 {
    color: #2C2C2C;
     font-family: "proxima_nova_semibold"; 
	 font-size: 14px;
}

.protitle2 {
    color: #2C2C2C;
     font-family: "proxima_nova_semibold";
	  font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 1.1em;
	text-align:center !important;
    margin-bottom: 15px;
    text-transform:  capitalize;
    transition: all 0.3s ease-out 0s;
	 -moz-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	   -webkit-transition: all 0.3s ease-out 0s;
	padding-top:20px;
}

.proInner ul li {
	list-style: inherit inside none;
}

.proInner a {
	text-decoration:none;
}



.protitle3 {
    color: #2C2C2C;
     font-family: "proxima_nova_semibold"; font-size: 14px;
    letter-spacing: 0.3em;
    line-height: 1.1em;
    margin-bottom: 5px;
    padding-top: 40px;
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;
		 -moz-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	   -webkit-transition: all 0.3s ease-out 0s;
}
.prodis, .proInner p {
	color: #333;
     font-family: ProximaNovaRegular,Arial,Helvetica; 
	 font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 1.8em;
    margin: 0 auto 14px;
	text-align:justify;
}

.proInner a {
	color:#719260;
}

.introContent {
    color: #0E0060;
    margin-left: 20px;
    padding: 20px;
    text-align: left;
    width: 785px;
	font-size: 15px;
	    color: #333333;
    font-family: ProximaNovaRegular,Arial,Helvetica;
	   letter-spacing: 0.05em;
    line-height: 1.8em;
	  text-align:  justify;
	  
}


.introContent p {
    color: #333333;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align:  justify;
    width: 100%;
}

.proInner  {
	color: #333333;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 1.8em;
	width:90%;
	margin:0 auto;
	text-align:justify;
}

.proInnerHome {
	width:100%;
}

.proInner img {
	max-width:100%;
}

.introContent p strong, .introContent p b, .introContent strong, .introContent b, .proInner p strong,  .proInner p b, .proInner p b{ 
	font-weight:bold;
}



.prodisBusiness {
    color: #333333;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align:  justify;
    width: 100%;
}


.prxtop3 {
	width:100%;
	margin:0 auto;
	height: auto;
	background:#fff;
}

.prokSide {
    clear: both;
    display: block;
    height: 450px;
    margin-bottom: 40px;
    margin-left: 0 !important;
    margin-right: 0;
    margin-top: 40px;
    overflow: hidden;
    width: 100%;
}

.prokSideContent {
    display: block;
    height: 450px;
    margin: 0 auto;
    width: 100%;
	overflow:hidden;
}

.marginBottom0 {
	margin-bottom:0 !important;
}



.prokSide .slidePng {
    height: 33px;
    width: 80px;
	text-align:center;
	margin:0 auto 15px;
	clear:both;
}
.prokSide .next2 {
    background: url("../images/slide/slidenav.png") repeat scroll right top;
    display: block;
    height: 30px;
    width: 30px;
	float:left;
	margin-left:4px;
	border:solid 1px #ccc;
}
.prokSide .prev2 {
    background: url("../images/slide/slidenav.png") repeat scroll left top;
    display: block;
    height: 30px;
    width: 30px;
	float:left;
	border:solid 1px #ccc;

}

.prokSide .next2:hover {
	background: url("../images/slide/slidenav.png") repeat right bottom #9a9a9a;
}

.prokSide .prev2:hover {
    background: url("../images/slide/slidenav.png") repeat scroll left bottom  #9a9a9a;
}

.prokSideContent img {
	width:100%;
	overflow:hidden;
}

.prodisT1 {
	text-align:left;
}

.prodisT1:first-letter,{
    color: #262046;
    float: left;
    font-size: 10.833em;
    margin-left: -120px;
    margin-top: 10px;
}

.prodisT2 {
	margin-top:50px;
}

.prodisT2:first-letter {
    color: #C69C6D;
    float: left;
    font-size: 10.833em;
    margin-left: -120px;
    margin-top: 40px;}

.prxtop4  {
	margin-top:0;
}

.noSlideTop {
	margin-top:0 !important;
}

.prxtop4 .proInner {
	background:#fff;
	padding-top:0;
}


/* ::::::::::::::::: lingerieTop ::::::::::::::::: */

.lingerieTop {
	background: url(../images/lingeriebg.jpg) center 0 fixed;
}

.l-biriqina {
	margin-top:-57px;
}

.prodisLtop1 {

    padding-bottom: 0;
}

/*::::::::::::::::::::::: ShirtTop ::::::::::::::::::: */

.ShirtTop {
	background:url(../images/shirtbg.jpg) center 0 fixed;
}

.menulist3 a {
	width:33%;
}


/*::::::::::::::::::::::::: Services ::::::::::::::::: */

.menulist4 a {
	width:25%;
}


.menulist4 .icon1 , .menulist4 .icon2, .menulist4 .icon3, .menulist4 .icon4, .menulist4 .icon5{
	
    background: url("../images/sqicon/services-sprit.png") left top;
    display: block;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
	transition: all 0.3s ease-in-out 0s;
	
		 -moz-transition: all 0.3s ease-in-out 0s;
	  -o-transition: all 0.3s ease-in-out 0s;
	   -webkit-transition: all 0.3s ease-in-out 0s;
}

.menulist4 a:hover .icon1 {
	background:url(../images/sqicon/services-sprit.png) no-repeat left -110px        !important ;
}

.menulist4 a:hover .icon2 {
	background:url(../images/sqicon/services-sprit.png) no-repeat -230px -110px        !important ;
}

.menulist4 a:hover .icon3 {
	background:url(../images/sqicon/services-sprit.png) no-repeat -460px -110px        !important ;
}
.menulist4 a:hover .icon4 {
	background:url(../images/sqicon/services-sprit.png) no-repeat -700px -116px        !important ;
}
.menulist4 .icon2 {
    background: url("../images/sqicon/services-sprit.png") -230px top;
}
.menulist4 .icon3 {
    background: url("../images/sqicon/services-sprit.png") -460px top;
}
.menulist4 .icon4 {
    background: url("../images/sqicon/services-sprit.png") -700px top;
}



.servicesProtop1 {
	background:url(../images/servicesbg.jpg) center 0px fixed;
}

.serviceslider img {
	height:408px !important;
}


/*:::::::::::::::::::::::::::sustainabilityLeft :::::::::*/

.sustainabilityLeft {
	background:   url(../images/bg.jpg) !important;
}

.sasLogoLink {
	color: #333333;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 20px !important;
    letter-spacing: 2px;
    text-transform: uppercase;
	text-decoration:none;
}

.sasLogoLinkExtra {
	font-size:18px;
}

.sasLogoLink:hover {
	  color: #9BB18D !important;

}

.sustainabilityLeft .logo {

    margin-top: 30px;
}


.sus {
    color: #333333;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
}


.sustainabilityLeft ul li {
    margin: 0 0 0 29px;
    text-align: left;
}

.sasContainer {
	width:100%;
	display:block;
}

.sasContainerLeft {
    border-right: 1px solid #DBDBDB;
    float: left;
    height: auto;
    margin-right: 2%;
    padding: 0 1.75% 0 0;
    position: relative;
    width: 63%;
}



.sasContainerRight {
    float: left;
    width: 30%;
	 border-right: 1px solid #DBDBDB;
	 padding-right:2%;
}

.sasnewsbox {
	width:100%;
	 border-top: medium solid #9BB18D;
	 padding-top:10px;
	  margin-bottom: 12px;
	  height: auto;
	   height: auto !important;
	    height: 247px;
}
.sasnewsboxTop{
		margin-top:15px!important;}
.sasnewsboxborderNone{
		border:none !important;
		margin-bottom:0 !important;}
		

.sasnewsboxLeft {
    float: left;
    margin-top: 5px;
    position: relative;
    width: 100%;
	max-height:270px ;
}
.sasnewsboxLeft img {
	max-height:270px;
	width:100%;
}

.heightAuto {
	min-height:312px !important;
}

.SasViewLink {
	bottom: 15px;
    height: 19px;
    position: absolute;
    right: 15px;
    width: 30px;
	background: url(../images/saslinkbg.png) top left;
	z-index:200;
}


.sasRightText {
    left: 73px;
    position: absolute;
    top: 22px;
    width: 71%;
    z-index: 100;
	overflow:hidden;
}


.sasRightText h3  {
    font-family: ProximaNovaRegular;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
	margin-top:9px;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	float:left;
	display:block;
	clear:both;
}

.sasnewsboxLeft:hover h3  {
	margin-top:0;
}

.sasContainer p {
 
}

.sasContentTableBeforeTitle {
    color: #555555;
    display: block;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 20px 0 10px;
}

.sasRightText p {
	color:#fff !important;
	margin-bottom:10px;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	display:block;
	clear:both;
	width: 95%;
	opacity: 0;
	line-height:18px !important;
}

.tdFull h3 {
}

.sasnewsboxLeft:hover p  {
	margin-bottom:0;
	opacity: 1;
}

.sasTRxt {
    color: #606060;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    padding-top: 10px;
    width: 100%;
	font-family: Arial,sans-serif;
}



.sasTRxt a {
	color:#606060;
	margin-top:10px;
	display:block;
	font-style:italic;
}

.sasnewsboxLeft:hover .SasViewLink {

	background: url(../images/saslinkbg.png) bottom left;
}


.sasnewsboxRight {
    float: left;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.sasSliderContent {
	width:98.5%;
	margin:20px 0 0 0;
	margin-left:1%;
	position:relative;
	display:inline-block;
	max-height:538px;
}

 @media all and (max-width:900) {
.sasSliderContent {
	height:430px !important;
}
}

.sasSliderContentMain {
	width:100%;
	display:block;
	position:relative;
}



.sasSlidePage {
	position:absolute;
	bottom:50px;
	right:50px;
	z-index:500;
}

.sasSlidePage ax {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #DDDDDD;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 10px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
	text-indent:-999;
	 border-radius: 15px 15px 15px 15px;
	 height: 15px;
	 width:15px;
	 box-shadow: 0 0 3px rgba(0,0,0,0.5) inset;
}
.sasSlidePage a {

  border: 2px solid #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 4px;
    opacity: 0.4;
    text-indent: -999em;
    transition: background 0.5s ease 0s, opacity 0.5s ease 0s;
	-webkit-transition: background 0.5s ease 0s, opacity 0.5s ease 0s;
	-o-transition: background 0.5s ease 0s, opacity 0.5s ease 0s;
    width: 10px;
}

.sasSlidePage a.activeSlide {
	background: none repeat scroll 0 0 #FFFFFF;
    opacity: 1;
}
.sasnewsboxRight p {
    color: #999999;
    padding: 14%;
    width:  auto;
	font: 10px/14px Arial,sans-serif;
}

.sasRightTitle {
    color: #333333;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 5px 0;
    text-transform: uppercase;
}
.sasleftarrow {
	position:absolute;
	z-index:500;
	top:20%;
	right:0;
}

.relative {
	position:relative;
	z-index:10;
}

.SasDis {
	padding:20px;
	 color: #666666;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 15px;
    line-height: 24px;
}


.sasContentTable {
    display: inline-block;
    padding: 20px 0 0;
	clear:both;
}

.sasContentTableFirst {
	margin-top:0;
}

.sasContentTable td {
	padding:5px 5px 0 0;
	vertical-align:top;
}

.tdLeft {
	padding-right:10px !important;
	width:288px;
}

.tdRight {
	padding-left:10px!important;
	width:288px;
}

.tdfull{
	padding-left:10px!important;
	width:100%;
}

.sasnewsboxLeftHighlithsTitle {
	height:auto;
	padding-bottom:10px;
	color:#999;
}

.imghalf  {
    padding: 0 30px 10px 0;
    width: 269px; /*312px;*/
	display:block;
	margin-top: 5px/*-26px;*/
}

.tdLeft {
}

.sasnewsboxLeftHighliths p {
	color:#999999;
	 font-family: ProximaNovaRegular;
	 display:inline-block;
}
.sHborder {
	border-bottom: dotted 1px #999;
	margin-bottom:10px;
}

.sasnewsboxLeftHighliths {
	
	padding-bottom:0;
	margin-bottom:0;
}

.sasContentTableSpecial {
	 border-top: 1px dotted #999999;
	 
}
.sasnewsboxLeftHighliths h3 a, .sasnewsboxLeftHighliths h3, .fullConText, a.fullConText {
	font-size:16px;
	letter-spacing:2px;
	font-family:ProximaNovaRegular,Arial,Helvetica;
	color:#555;
	text-decoration:none;
	border-bottom: dotted 1px #999;
	padding-bottom:5px;
	margin-bottom:5px;
	display:block;
	float:right;
	width:100%;
		text-transform: capitalize;

}

.tdFull h3 {
	font-size:16px;
	color:#555;
	font-family:ProximaNovaRegular,Arial,Helvetica

}

.date {
    color: #777;
    display: inline-block;
    font-family: ProximaNovaRegular;
    font-size: 11px;
    letter-spacing:1px;
    margin: 5px 0;
    text-transform: uppercase;
}

.sasRightTitle {
    background: url("../images/hr.png") no-repeat scroll center bottom transparent;
    color: #333333;
	font-family: ProximaNovaRegular,Arial,Helvetica;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    width: 100%;
}

.sasContainerLeft .slidePng {
	position:absolute;
	bottom:0;
	z-index:5000;
}
/*------------------------------------------------technology-----------------------------------------------*/
.rightInner{
		float:none !important;}
.sasInnerLeft {
	width:68%;
	float:left;
	height:auto;
	position:relative;
	padding:1.75% 0 1% 1.75%;
}
.imgslider{
		width:100%;
		height:auto;
		display:block;}
.sasDescript{
	
	 color: #666666;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 15px;
    line-height: 24px;
    list-style: circle outside none;
    text-align: left;
	
		width:100%;
		height:auto;
		background:#fff;}
.sasDescriptHeading{
		width:100%;
		border-bottom:1px dotted #777;
		margin-bottom:20px;
		background:#fff;
		height:auto;}
.sasDescriptHeading h2{
		color:#454242;
		text-transform: capitalize;
		margin:20px 0 0 0;
		font-size:24px;
		letter-spacing:2px;

		padding:5px 0;}
.sasDescript p{
		font-size:12px;
		color:#666;
		letter-spacing:0.25px;
		padding:0 0 10px 0;
		line-height:20px;}
.sasInnerRight {
	width:20%;
	padding:1.75% 1% 0 1%;
	float:right;
	position:fixed;
	right:0;
	top:0;
	/*background:url(../images/sas_right.gif) repeat;*/
	background:#fff;
	border-left:1px solid #DDDDDD;
	height:100%;
}
.sasInnerRight h6{
		text-transform:uppercase;
		display:block;
		padding:10px 0;
		letter-spacing:2px;
		color:#666;
		font-size:16px;
		border-top:medium solid #9BB18D;}
.sasInnerRight ul li a{
	font-family: ProximaNovaRegular,Arial,Helvetica;
	
		color:#949494;
		text-transform: capitalize;
		padding:7px 0;
		display:block;
		font-size:14px;
		border-bottom:1px solid #ddd;
		text-decoration:none;
		transition:all 0.4s linear;
		-webkit-transition:all 0.4s linear;
		-moz-transition:all 0.4s linear;
		-o-transition:all 0.4s linear;
		}
.faiLink li a:hover {
	color:#788e6a !important;
}
.sasInnerRight ul li a:hover{
		color:#454242;
		border-bottom:1px solid #454242;}
.socialIcon li{
		float:left;
		padding:20px 10px 0 0;
		}
.socialIcon li a,.faiLink li a{
		border:none !important;}
.faiLink li a {
    color: #9BB18D !important;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 14px !important;
    letter-spacing: 1px;
    line-height: 20px !important;
    padding: 0 0 5px 20px !important;
}
/*------------------------------------------green-----------------------------------------------*/
.greenDescript{
		width:48.5%;
		height:290px;
		float:left;
		margin:20px 21px 0 0;
		border-bottom:1px dotted #666;}
.greenDescript img{
		display:block;
		padding:0 0 15px 0;}
.greenDescript a{
		color:#454242;
		text-decoration:none;
		font-size:12px;
		line-height:20px;
		letter-spacing:0.25px;
		text-align:justify;
		display:block;}


.greenDescript a:hover{
		text-decoration:overline;}
.Continue_reading{
		font-style:italic;
		font-size:11px !important;;
		padding:10px 0 0 0;
		color:#f30 !important;}

.noMarginRt {
	margin-right:0 !important;
}


/*--------------------------------------------------------N E W-----------------------------------------------*/
.prxtopYarn {
	width:100%;
	margin:0 auto;
	 background:url(../images/piece_dyeing.jpg) center 0px fixed ;
}

.prxtopPdyeing {
    width:100%;
    margin:0 auto;
    background:url(../images/supportbg.jpg) center 0px fixed ;
}

.fabric_bg {
	width:100%;
	margin:0 auto;
	background:url(../images/fabricbg2.jpg) center 0px fixed  ;
}

/*------------------------------------------------ C O N T A C T -----------------------------------------------*/
.fullcontact {
 width:100%;
 height:100%;
}
body.ContactPage {
 background:#fff  !important;
}

.padding20 {
 padding:20px;
}
 
.contactContainer {
  width:100%;
  display:block;
  height: auto;
  position:relative;
  overflow:hidden;}
/*.contactInner{
     background: none repeat scroll 0 0 rgba(82, 116, 59, 0.8);
  height: 450px;
  left: 18%;
  padding: 10px 10px 0;
  position: absolute;
  top: 55px;
     width: 65%;}*/
.contactInner {
   min-height: 450px;
    margin: 0 auto 0;
    padding: 10px 10px 0;
    top: 55px;
    width: 80%;
}  


.contactInner h1{
   font-family: "proxima_nova_semibold" , arial;
  font-size:40px;
  color:#454242;
  font-weight:bolder;
  background:url(../images/contacthdingbg.png) no-repeat center;
  letter-spacing:0.25px;
  text-align:center;}
.contactInner h3{
  font-family: "proxima_nova_semibold" , arial;
  font-size:24px;
  color:#454242;
  letter-spacing:0.25px;
  font-weight: 400;
  margin:20px 0 10px;
  text-transform: inherit;
  text-align:left;
  display:block;}
.contactInner p{
  font-family: ProximaNovaRegular,Arial,Helvetica;
  font-size:20px;
  color:#454242;
  font-weight:500;
  letter-spacing:0.25px;
  text-align:left;}
  
.pDot {
 border-bottom: dotted 1px #ccc;
 padding-bottom:5px;
 margin-bottom:5px;
}
.contactAddress{
  float: left;
  height: auto;
  margin:40px 20px 0 0;
  width: 30%;}
.contactAddress img{
  float:left;
  margin:0 15px 0 0;}
.contactInfo{
  float:left;
  width:auto;
  padding:0 2px 0 0;
  height:auto;}
  
.contactInner .visit .contactInfo {
	max-width:174px;
}

.contactAddress h6,.contactAddress a{
  font-family:Georgia, "Times New Roman", Times, serif;
  color:#454242;
  font-size:20px;
  text-transform:lowercase;
  font-style:italic;}
.contactAddress a{
  text-decoration:none;}
.contactAddress p{
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:14px;
  color:#454242;
  font-style:italic;
  letter-spacing:0.25px;
  text-align:left;
  line-height:20px;}
.visit{
  width:44%;}




.contactBanner {
 max-height:354px;
 overflow:hidden;
}
/*------------------------------------------------ C A R E E R -----------------------------------------------*/

.fullcarrer {
	width:1000px;
	margin:0 auto;
}

.careerTop{
		width:100%;
		height:200px;
		background:url(../images/career.jpg) repeat-x  left center !important;
		overflow:hidden;
		display:block;}
.careerContainer {
		width:100%;
		display:block;
		height:auto !important;
		overflow:hidden;}
		
.careerInner {
    display: block;
    height: auto !important;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 0 2%;
    width: 96%;
	padding-bottom:20px;
}

.careerLeft {
    background: none repeat scroll 0 0 #9BB18D;
    float: left;
    margin-left: 0;
    min-height: 165px;
    padding: 10px;
    width: 22%;
}

.careerLeft h6{
		font-family: "ProximaNovaRegular";
		font-size:18px;
		color:#fff;
		letter-spacing:0.25px;
		display:block;
		padding:15px 0 0 0;
		text-decoration:none;
		transition:all 0.3s linear;
			-webkit-transition:all 0.3s linear;
		-moz-transition:all 0.3s linear;
		-o-transition:all 0.3s linear;
		
		
		}
.careerLeft ul li a{
		font-family: "ProximaNovaRegular";
		font-size:12px;
		color:#fff;
		letter-spacing:0.25px;
		line-height:20px;
		display:block;
		text-decoration:none;
		transition:all 0.3s linear;
		-moz-transition:all 0.3s linear;
		-webkit-transition:all 0.3s linear;
		-o-transition:all 0.3s linear;
		
		
		}
.careerInner ul li a:hover{
		color:#333;}
.careerRight{
		background: none repeat scroll 0 0 #fff;
		float: left;
		height: auto !important;
		margin: 0 0 0 2%;
		width: 73%;
		font-family: "ProximaNovaRegular";}

.careerInner h1 {
    color: #333333;
    font-size: 26px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform:  capitalize;
}

.careerDescripTion a {
	color:#9BB18D;
	text-decoration:none;
}
		
.careerInner h2 {
    color: #333333;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform:  capitalize;
}

.careerInner h3 {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: inherit;
}

.careerInner h4 {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform:  inherit;
}

.careerInner h5 {
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform:  inherit;
}

.careerInner p{
		font-size:14px;
		color:#666;
		display:block;
		letter-spacing:0.50px;
		margin-bottom:10px;
		padding-bottom:5px;
		border-bottom:1px dotted #9bb18d;
		font-family: "ProximaNovaRegular";}
.careerLeftInner p {
	color:#fff !important;
	letter-spacing:0 !important;
}

.careerLeftInner p a {
	color:#fff!important;
}

.careerLeftInner p a:hover {
	color:#eee;
}

		
.carrerIntro{
		border-bottom:1px dotted #888 !important;
		 margin-bottom: 15px !important;
    padding-bottom: 10px !important;
}

.sqCareer{
	border:solid 1px #9BB18D;
		border-color:#9BB18D;}
.sqCareer tr td{
		border-color:#9BB18D;
		padding: 8px 0;
		}
.careerHeading{
		background:#9BB18D;
		height:25px;
		color:#fff;
		font-size:14px;
		
		}
.jobDetails{
		height:25px;
		color:#666;
		font-size:14px;
		
		text-align:center;}
.odd {
	background:#f2f2f2;
}
.jobDetails a {
	text-decoration:none;
	color:#666;
}
.jobDetails a:hover{
	color:#9bb18d;
	border-bottom:1px dotted #9bb18d;
}
.careerDescripTion{
	  color: #666666;
	  font-size: 14px;
    letter-spacing: 0.05px;
		height:auto !important;
		padding:5px 0;}

.careerDescripTion h3 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-transform:  capitalize;
	font-family:"ProximaNovaRegular";
}

.careerDescripTion ul, .careerDescripTion ol {
	margin-bottom:20px;
}

.careerDescripTion ol li {
    color: #666666;
    font-size: 14px;
    letter-spacing: 0.05px;
    line-height: 20px;
    margin-left: 16px;
	 list-style:  decimal outside none;
    padding: 0 0 5px;
    text-align: justify;
}

.careerDescripTion ul li {
    color: #666666;
    font-size: 14px;
    letter-spacing: 0.05px;
    line-height: 20px;
    list-style: circle outside none;
    margin-left: 16px;
    padding: 0 0 5px;
    text-align: justify;
}


.careerDescripTion p{
		font-size:14px;
		letter-spacing:0.05px;
		line-height:20px;
		display:block;
		border:none !important;
		text-align:justify;
		color:#666;
		padding:0 0 5px 0;}
.careerDescripTion p a {
	color:#8fa383;
}
		
.applyOnline{
		text-align:center;
		color:#fff !important;
		display:block;
		text-decoration:none;
		width:100px;
		background:#52743b;
		padding:4px 5px;
		font-size:13px;
		margin:0 auto;
		border:none !important;
		text-transform:capitalize;}
.applyOnline:hover{
		background:#9BB18D;}	
.InnerFooterBox {
   display: block;
    height: auto;
    margin: 40px auto 0;
    padding-bottom: 0px;
    width: 100%;
}

.InnerFooterBox ul {
	margin:0;
	padding:0;
}

.InnerFooterBox ul li a {
	color:#fff;
}

.InnerFooterBox ul li a:hover {
	color:#ddd;
}

.contentUl {
	margin-left:15px;
}

.contentUl li {
    color: #666666;
    font-size: 12px;
    letter-spacing: 0.25px;
    list-style: circle;
	line-height: 18px;
    margin-bottom: 11px;
    padding-left: 20px;
}




.boldtitle {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: capitalize;
    width: 100%;
}

.sasContainer p {
	color: #666666;
    font-size: 15px;
	list-style: circle;
	 font-family: ProximaNovaRegular,Arial,Helvetica;
	line-height: 24px;
	text-align: left;
}

.sasContainer a {
	text-decoration:none;
	color:#9BB18D !important;
}

.sasContainer h1 {
    color: #454242;
    font-size: 24px;
}

.sasContainer h2 {
    color: #454242;
    font-size: 22px;
}

.sasContainer h3 {
	font-size: 18px;
	color: #454242;
}

.sasContainer h4 {
	font-size: 16px;
	color: #454242;
	
}

.sasContainer h5 {
	font-size: 14px;
	color: #454242;
}



.sasContainer p b, .sasContainer p strong, .sasContainer strong, .sasContainer b   {
	font-weight:bold;
}

.mobilemenu {
	display:none;
}


@media all and (max-width:680px) {
	
  /* iPhone, Android rules here */

.jobNotice {
    float: right;
    height: 90px;
    margin-right: 0;
    margin-top: 33px;
    width: 66%;
}

.introContent {
	margin-left:0 !important;
}

}


@media all and (max-width: 699px) {

}

/* ipad // */
@media all and (max-width:768px) {
	
#leftPanel {
	display:block !important;
	 width: 250px !important;
}

#rightPanel {
	margin-left:250px !important;
}

#container {
	height:auto !important;
}

/* sq Station */

.sasnewsboxLeftHighliths h3 a, .sasnewsboxLeftHighliths h3, .fullConText, a.fullConText {
    margin-bottom: 15px !important ;
    width: 100%;
}

.imghalf {
	margin-top:0 !important;
}

/* about us */

.wrapperinner {
    width: 100% !important;
}

.aboutContent, .homeContent {
	width:90% !important;
}

/* sastainability */

.sasInnerRight, .sasContainerRight {
	display:none;
}

.sasContainerLeft {
	width: 93%;
}

/* business */
.prokSideContent img {
	height:auto !important;
}

.prokSideContent {
	height:235px;
}

.prokSide {
	height:auto;
	margin-bottom:0;
}

/* career */

.careerLeft {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 0;
    min-height: 110px;
    padding: 0;
    width: 100%;
}

.careerLeftInner {
	padding:10px;
	color:#fff !important;
}


.careerRight {
	 width: 100%;
	 margin-left:0 !important;
}

/* bulletin */


#bulletinwrapper {
	padding-top: 5px !important;
	width:100% !important;
}
.bulletinInner {
	padding-top:0 !important;
}

.bulletinColumn {
    float: left;
    height: auto !important;
    margin: 0 2% 0 0;
    width: 32% !important;
}

.bulletinColumnPost {
    margin-left: 1% !important;
    width: 64% !important;
}

.rightBullrtinNews h3 {
    background: none repeat scroll 0 0 #BCCEAF;
    border-bottom: 2px solid #ACBE9F;
    font-family: ProximaNovaRegular,Arial,Helvetica;
    font-size: 16px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.bulletinColumnPost a.bulletinTitle {
    font-size: 26px;
	 padding: 20px 0 20px 20px;
    padding-bottom: 0;
}

.rightBullrtinNews a {
    font-size: 11px !important;
    margin-bottom: 10px;
    margin-left: 0;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-top: 0 !important;
    text-transform: none !important;
    width: 89%;}
/* about us */

#brand {
	height:1000px !important;

}

.team {
    border: 1px solid #E7E6E1;
    height: 210px!important;
    margin-right: 3px!important;
    padding: 2px;
    transition: all 1s ease 0s;
    width: 30% !important;
}


.teamInfo {
    bottom: 0 !important;
    height: 36% !important;
    left: 0;
    width: 100%;
    z-index: 20;
}


.teamMemberName {
    font-size: 11px !important;
    font-weight:  normal;
    letter-spacing: 0 !important;
    width: 98%!important;
	margin-left:1% !important;
}


.temPostion {
    font-size: 10px !important;
    letter-spacing: normal;
    margin-left: 1%!important;
    margin-top: 2px;
    text-align: center;
    width: 98% !important;
}

.teamDetailsLink {
	  font-size: 9px !important;
	   margin-top: 0 !important;
}

.tembox {
    border-radius: 6px 6px 6px 6px;
    display: none;
    height: 270px!important;
    left: 2%!important;
    overflow: hidden;
    padding: 2%!important;
    position: absolute;
    top: 40%!important;
    width: 86% !important;
    z-index: 10000;
}

/* new code r - 31/08/2013 */
.jobNotice a {
    font-size: 14px;
}


.sasInnerLeft {
    width: 95%;
}

.introContent {
        width: 80% !important;
    }




.jobNotice {
    float: right;
    height: 90px;
    margin-right: 0;
    margin-top: 40px;
    width: 85%;
}


.borDerRightTd {
	width: 164px;
}

.jobNotice a, .hireText  {
	margin-left:8px !important;
}


}



.contactAddress {
}

.contactAddress img {
    float: left;
    height: 30px !important;
    margin: 0 10px 0 0;
    width: auto !important;
}




/* new */


.quickRead {

    max-width: 100%;
}


.quickReadPanel {
    background: none repeat scroll 0 0 #9CB28E;
    height: auto;
    position: fixed;
    right: 16px;
    top: 0;
    width:100%;
    z-index: 99999999;
	 -moz-opacity:0;
	 -o-opacity:0;
	 -webkit-opacity:0;
	 opacity:0;

}

.quickReadPanel p {
    color: #FFFFFF;
    font-family: "ProximaNovaRegular";
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    text-align: center;
}

.quickRead {
   background: url("../images/quick-read.png") no-repeat scroll right 17px rgba(0, 0, 0, 0);
   max-width: 100%;}
.quickReadAbt {
   background: url("../images/quick-read.png") no-repeat scroll right 17px rgba(0, 0, 0, 0);
   max-width: 97.2%;}

#brand .quickReadAbt {

   max-width: 100%;}

.quickReadSus{
  background: url("../images/quick-read.png") no-repeat scroll right 0 rgba(0, 0, 0, 0);
  max-width: 100%;}



@media all and (max-width:1024px) {
	#container {
		height:auto !important;
	}
	.aboutContent, .introContent {
		width:90% !important; }
	#rightPanel {}
	
.sasnewsboxLeft img {
    height: auto!important;
    width: 100% !important;
}

.sasDescript {
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto;
    width: 96%;
}

.jobNotice a, .hireText {
	font-size:16px !important;
}
.borDerRightTd {
    width: 169px !important;
}

.contactInner {
	 width: 80%;
}

.contactAddress {
    float: left;
    height: auto;
    margin: 40px 5px 0 0!important;
    width: 32% !important;
}

.visit {
    width: 77% !important;
}

.printBg {
    background: url("../images/printbg3tab.jpg") repeat fixed center top transparent;
}



}

@media all and (max-width:680px) {
    
     /* full */
 .quickReadPanel {
    top: 36px;
    width: 100% !important;
}
.quickReadPanel p {
    font-size: 12px;
    letter-spacing: 0;
    padding: 10px 15px;
}
  /* full */
.jobNotice {

}

#leftPanel {
	display:none !important;
}

#rightPanel {
	margin-left:0 !important;
}

.mobilemenu {
	display:block !important;
}

.jobNotice {
    float: right;
    height: 90px;
    margin-right: 0;
    margin-top: 33px;
    width: 73%;
}

.jobNotice a {
	font-size:16px;
}

.borDerRightTd {
	width:190px;
}

#container {
	height:auto !important;
}

/* ///////////////////// about us //////////////////// */


.aboutIntro {
	width:80% !important;
}

#journey {
	height:1000px !important;
}

#philosophy {
	height:1300px !important;
}

#brand {
	height:1300px !important;
}

.homeContent, .aboutContent {
	margin-left:0 !important;
}


.carouselmobile {
	display:block!important;
}

.carouselpc {
	display:none !important;
}

.team {
	width:45% !important;
	margin-right:1% !important;
}

.teamInfo {
	height:30% !important;
}

.tembox {
    border-radius: 6px 6px 6px 6px;
    display: none;
    height: 270px;
    left: 2%;
    overflow: hidden;
    padding: 2%;
    position: absolute;
    top: 30%;
    width: 86%;
    z-index: 10000;
}

.fixedMenu .rmm.graphite .rmm-toggled {
	position: fixed;
    z-index: 99999;
}

.careerInner p {
	padding:10px;
}

.printBg {
    background: url("../images/printbg3tab.jpg") repeat fixed center top transparent;
}


}



@media all and (min-width:1025px) {
.prokSideContent img {
	min-height:430px;
}

}



@media all and (max-width:360px){
  .intro-big img{
  margin-left:0;}
    }
@media all and (max-width:320px){
 
.sqTables{
  width:90%;
  margin:20px auto 0;
  padding:20px 0;
  height:auto;}
}


@media all and (max-width:979px) {

  .intro-big img{
    margin-left:30px;}
    }

@media all and (max-width:510px) {
.intro-big img{
  margin-left:0 !important;}
}

.sqTables{
  width:90%;
  margin:0 auto 0;
  padding:3px 0;
  height:auto;}