@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body {
	font-family:Open Sans,Arial, Helvetica, sans-serif;
	font-size:13px;
	background:url("../images/3.jpg") no-repeat fixed top center #0B3861;
	background-size:cover;
	
	 
}


h1, h2, h3, h4, h5, h6 {
	font-family:Open Sans,Arial, Helvetica, sans-serif;
	line-height:normal;
}


@media (min-width: 768px) {
	
	
.header {
	height: auto;
	background:#fff;
}

.navbar-site {
	margin-bottom:0 !important;
	height:auto;
}

.navbar-nav > li > a, .navbar-brand {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

}

.jobintro {
	width:100%;
	height: auto;
	background-size:cover;
}


.jobintro h1 {
	 color: #FFFFFF;
    font: 200 60px Open Sans;
    margin-top: 100px;
    opacity: 0.8;
	
}


.jobintro h4 {
	color: #8F9294;
	 font: 14px;
}


.jobs-search {
	display:block;
	clear:both;
	padding:30px 0 0;
}

.jobs-search input.form-control, .jobs-search button {
	height:44px;

}
.keyword {
		background-image:url(../images/key.png) !important;
		background-position:right center;
		background-repeat:no-repeat;
}

.location {
		background-image:url(../images/marker.png)  !important;
		background-position:right center;
		background-repeat:no-repeat;
}



/* side bar */
.jobs-content {
	padding:0 0 0;
}

.table {
color:#fff;
}

.inner-box {
    background: #0B3861;
	background:rgba(11, 56, 97, 0.7);
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

   
}

.alert {

    margin: 0 30px;

}

.inner-box-content {
	 padding: 20px 30px;
}

.inner-box.add {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 5px;
}

.inner-box.add img {
	width:100%;
}

.inner-box-content {
color:#fff;
}

.inner-box h5 {
    background: none repeat scroll 0 0 #FFE522;
    border-radius: 3px 3px 0 0;
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 15px 20px;
}

.page-content .inner-box {
	  padding: 20px 30px;
	background: #fff;
 overflow: hidden;
}

.page-content .inner-box-content {
	padding:0;
	color:#333;
}

.page-content .inner-box-content h3 {
	color:#007979;
}
.nav-pills .name {
	display:inline-block;
}

.inner-box hr:first-child {
	display:none;
}

.jobintro img {
	max-width:100%;
	margin-bottom: -30px;
}


.title-1 {
    background: url("../images/c.png") repeat scroll -192px center rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
   padding: 12px 30px;
    text-transform: uppercase;
}

.btn-submit {
	background: #E87352;
    border: medium none;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out 0s;
	-webkit-transition: background 0.3s ease-in-out 0s;
    vertical-align: middle;
    white-space: nowrap;
 margin-bottom: 15px;
	}

.btn-submit:hover {
	background:#FE797C;
	text-decoration:none;
	color:#fff;
}
.page-content .inner-box {
	padding:0;
}
.page-content .inner-box form {
	padding: 10px 30px 30px 30px;
}

.post {
	font-size:12px;
	color:#ddd;
}


.footer {
	color:#fff;
}



.table tr td:nth-child(3) {
	text-align:center;
}

.table > thead > tr > th {
padding-right: 0;
}


.badge {
    background-color: #FFE522;
    border-radius: 10px;
    color: #111111;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}



@media all and (max-width:1024px){
	
	.inner-box-content {
		padding:15px;
	}
	
}





@media all and (max-width:767px){
	
	.inner-box-content {
		padding:10px;
	}
	
	.jobintro {
		height: auto;
		padding-bottom:30px;
	}
	
	.jobintro .col-sm-4 {
		margin-bottom:15px;
	}

			}
@media all and (max-width:480px){

				
}